.base {
  margin: 0;
  background: none;
  border: none;
}

.toasts {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--cui-spacings-byte);
  width: 100%;
  padding: 0 var(--cui-spacings-giga);
  background: none;
  border: none;
}

.top,
.top-right {
  top: var(--cui-spacings-giga);
}

.bottom {
  bottom: var(--cui-spacings-giga);
}

@media (min-width: 480px) {
  .toasts {
    width: auto;
    padding: 0;
  }

  .top,
  .bottom {
    left: 50%;
    transform: translateX(-50%);
  }

  .top-right {
    right: var(--cui-spacings-giga);
    left: inherit;
    width: fit-content;
    margin-left: auto;
  }
}
