.base {
  position: fixed;
  bottom: var(--cui-spacings-giga);
  left: 0;
  z-index: var(--cui-z-index-toast);
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: 0 var(--cui-spacings-giga);
}

@media (min-width: 480px) {
  .base {
    left: 50%;
    width: auto;
    padding: 0;
    transform: translateX(-50%);
  }
}

.toast {
  margin-top: var(--cui-spacings-byte);
}
