.container {
  position: relative;
}

.scrollable {
  height: 100%;
}

.border {
  border: var(--cui-border-width-kilo) solid var(--cui-border-divider);
}

.row-headers {
  border-radius: var(--cui-border-radius-bit);
}

@media (max-width: 767px) {
  .row-headers {
    height: unset;
    overflow-x: auto;
  }
}

.scrollable .scroll-container {
  height: var(--table-height);
  overflow-y: auto;
}

.base {
  width: 100%;
  border-collapse: separate;
  background-color: var(--cui-bg-normal);
}

.border-collapse {
  border-collapse: collapse;
}
