.base {
  padding: var(--cui-spacings-giga);
  overflow-wrap: break-word;
  vertical-align: middle;
  background-color: var(--cui-bg-normal);
  border-bottom: var(--cui-border-width-kilo) solid var(--cui-border-divider);
  transition: background-color var(--cui-transitions-default);
}

.hover {
  background-color: var(--cui-bg-normal-hovered);
}

/* Alignment */

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.condensed {
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega)
    var(--cui-spacings-kilo) var(--cui-spacings-giga);
  font-size: var(--cui-typography-body-two-font-size);
  line-height: var(--cui-typography-body-two-line-height);
}

.presentation {
  display: none;
}

@media (max-width: 767px) {
  .presentation {
    display: table-cell;
    width: 145px;
    min-width: 145px;
    max-width: 145px;
  }
}

.presentation.header {
  padding: var(--cui-spacings-byte) var(--cui-spacings-giga);
  font-size: var(--cui-typography-body-two-font-size);
  font-weight: var(--cui-font-weight-bold);
  line-height: var(--cui-typography-body-two-line-height);
  white-space: nowrap;
}

.condensed.presentation {
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega)
    var(--cui-spacings-kilo) var(--cui-spacings-giga);
  font-size: var(--cui-typography-body-two-font-size);
  line-height: var(--cui-typography-body-two-line-height);
}

.condensed.presentation.header {
  padding: var(--cui-spacings-byte) var(--cui-spacings-mega)
    var(--cui-spacings-byte) var(--cui-spacings-giga);
}
