.wrapper {
  position: relative;
}

.base {
  width: 100%;
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega);
  margin: 0;
  font-size: var(--cui-body-m-font-size);
  line-height: var(--cui-body-m-line-height);
  appearance: none;
  background-color: var(--cui-bg-normal);
  border: 1px solid var(--cui-border-normal);
  border-radius: var(--cui-border-radius-byte);
  outline: 0;
  box-shadow: none;
  transition:
    box-shadow var(--cui-transitions-default),
    border var(--cui-transitions-default),
    padding var(--cui-transitions-default);
}

.base:hover {
  border: 1px solid var(--cui-border-normal-hovered);
}

.base:focus {
  border: 1px solid var(--cui-border-accent);
  box-shadow: inset 0 0 0 1px var(--cui-border-accent);
}

.base::placeholder {
  color: var(--cui-fg-placeholder);
  transition: color var(--cui-transitions-default);
}

.base:placeholder-shown {
  text-overflow: ellipsis;
}

/* Validations */

.base[aria-invalid="true"] {
  border: 1px solid var(--cui-border-danger);
}

.base[aria-invalid="true"]:hover {
  border: 1px solid var(--cui-border-danger-hovered);
}

.base[aria-invalid="true"]:focus {
  border: 1px solid var(--cui-border-danger);
  box-shadow: inset 0 0 0 1px var(--cui-border-danger);
}

.base[aria-invalid="true"]:not(:focus):not([disabled])::placeholder {
  color: var(--cui-fg-danger);
}

.warning {
  border: 1px solid var(--cui-border-warning);
}

.warning:hover {
  border: 1px solid var(--cui-border-warning-hovered);
}

.warning:focus {
  border: 1px solid var(--cui-border-warning);
  box-shadow: inset 0 0 0 1px var(--cui-border-warning);
}

.warning:not(:focus):not([disabled])::placeholder {
  color: var(--cui-fg-warning);
}

/* Disabled */

.base:disabled,
.base[disabled] {
  color: var(--cui-fg-normal-disabled);
  background-color: var(--cui-bg-normal-disabled);
  border: 1px solid var(--cui-border-normal-disabled);
}

.base[readonly] {
  background-color: var(--cui-bg-subtle-disabled);
}

/* Alignment */

.align-right {
  text-align: right;
}

/* Prefix & suffix */

.has-prefix {
  padding-left: var(--cui-spacings-exa);
}

.has-suffix {
  padding-right: var(--cui-spacings-exa);
}

.wrapper .prefix,
.wrapper .suffix {
  position: absolute;
  width: var(--cui-spacings-exa);
  height: var(--cui-spacings-exa);
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega);
  color: var(--cui-fg-subtle);
  pointer-events: none;
}

.wrapper .suffix {
  top: 0;
  right: 0;
  transition: right var(--cui-transitions-default);
}

.wrapper button.prefix,
.wrapper button.suffix,
.wrapper .prefix button,
.wrapper .suffix button {
  pointer-events: auto;
  border-radius: var(--cui-border-radius-byte);
}
