.wrapper {
  position: relative;
}

.base {
  width: 100%;
  margin: 0;
  appearance: none;
  outline: 0;
  background-color: var(--cui-bg-normal);
  border: 1px solid var(--cui-border-normal);
  box-shadow: none;
  transition:
    box-shadow var(--cui-transitions-default),
    border var(--cui-transitions-default),
    padding var(--cui-transitions-default);
}

.base:hover {
  border: 1px solid var(--cui-border-normal-hovered);
}

.base:focus {
  border: 1px solid var(--cui-border-accent);
  box-shadow: inset 0 0 0 1px var(--cui-border-accent);
}

.base::placeholder {
  color: var(--cui-fg-placeholder);
  transition: color var(--cui-transitions-default);
}

.base:placeholder-shown {
  text-overflow: ellipsis;
}

/* Validations */

.base[aria-invalid="true"] {
  border: 1px solid var(--cui-border-danger);
}

.base[aria-invalid="true"]:hover {
  border: 1px solid var(--cui-border-danger-hovered);
}

.base[aria-invalid="true"]:focus {
  border: 1px solid var(--cui-border-danger);
  box-shadow: inset 0 0 0 1px var(--cui-border-danger);
}

.warning {
  border: 1px solid var(--cui-border-warning);
}

.warning:hover {
  border: 1px solid var(--cui-border-warning-hovered);
}

.warning:focus {
  border: 1px solid var(--cui-border-warning);
  box-shadow: inset 0 0 0 1px var(--cui-border-warning);
}

/* Disabled */

.base:disabled,
.base[disabled] {
  color: var(--cui-fg-normal-disabled);
  background-color: var(--cui-bg-normal-disabled);
  border: 1px solid var(--cui-border-normal-disabled);
}

.base[readonly] {
  background-color: var(--cui-bg-subtle-disabled);
}

/* Alignment */

.align-right {
  text-align: right;
}

/* Prefix & suffix */

.prefix,
.suffix {
  position: absolute;
  top: 50%;
  color: var(--cui-fg-subtle);
  pointer-events: none;
  transform: translateY(-50%);
}

.prefix {
  left: 0;
}

.suffix {
  right: 0;
  transition: right var(--cui-transitions-default);
}

button.prefix,
button.suffix,
.prefix button,
.suffix button {
  pointer-events: auto;
}

/* Sizes */

.s .base {
  padding: var(--cui-spacings-bit) var(--cui-spacings-byte);
  font-size: var(--cui-body-s-font-size);
  line-height: var(--cui-body-s-line-height);
  border-radius: var(--cui-border-radius-byte);
}

.m .base {
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega);
  font-size: var(--cui-body-m-font-size);
  line-height: var(--cui-body-m-line-height);
  border-radius: var(--cui-border-radius-kilo);
}

.s .has-prefix {
  padding-left: var(--cui-spacings-tera);
}

.m .has-prefix {
  padding-left: var(--cui-spacings-exa);
}

.s .has-suffix {
  padding-right: var(--cui-spacings-tera);
}

.m .has-suffix {
  padding-right: var(--cui-spacings-exa);
}

.s .prefix,
.s .suffix {
  width: var(--cui-spacings-tera);
  height: var(--cui-spacings-tera);
  padding: var(--cui-spacings-byte);
}

.m .prefix,
.m .suffix {
  width: var(--cui-spacings-exa);
  height: var(--cui-spacings-exa);
  padding: var(--cui-spacings-kilo);
}

.s button.prefix,
.s button.suffix,
.s .prefix button,
.s .suffix button {
  border-radius: var(--cui-border-radius-byte);
}

.m button.prefix,
.m button.suffix,
.m .prefix button,
.m .suffix button {
  border-radius: var(--cui-border-radius-kilo);
}
