.wrapper {
  position: relative;
}

.base {
  width: 100%;
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega);
  margin: 0;
  font-size: var(--cui-typography-body-one-font-size);
  line-height: var(--cui-typography-body-one-line-height);
  appearance: none;
  background-color: var(--cui-bg-normal);
  border: none;
  border-radius: var(--cui-border-radius-byte);
  outline: 0;
  box-shadow: 0 0 0 1px var(--cui-border-normal);
  transition: box-shadow var(--cui-transitions-default),
    padding var(--cui-transitions-default);
}

.base:hover {
  box-shadow: 0 0 0 1px var(--cui-border-normal-hovered);
}

.base:focus {
  box-shadow: 0 0 0 2px var(--cui-border-accent);
}

.base:active {
  box-shadow: 0 0 0 1px var(--cui-border-accent);
}

.base::placeholder {
  color: var(--cui-fg-placeholder);
  transition: color var(--cui-transitions-default);
}

.base:disabled,
.base[disabled] {
  background-color: var(--cui-bg-normal-disabled);
  box-shadow: 0 0 0 1px var(--cui-border-normal-disabled);
}

.base[readonly] {
  background-color: var(--cui-bg-subtle-disabled);
}

/* Validations */

.base[aria-invalid] {
  box-shadow: 0 0 0 1px var(--cui-border-danger);
}

.base[aria-invalid]:hover {
  box-shadow: 0 0 0 1px var(--cui-border-danger-hovered);
}

.base[aria-invalid]:focus {
  box-shadow: 0 0 0 2px var(--cui-border-danger);
}

.base[aria-invalid]:active {
  box-shadow: 0 0 0 1px var(--cui-border-danger-pressed);
}

.base[aria-invalid]:not(:focus):not([disabled])::placeholder {
  color: var(--cui-fg-danger);
}

.warning {
  box-shadow: 0 0 0 1px var(--cui-border-warning);
}

.warning:hover {
  box-shadow: 0 0 0 1px var(--cui-border-warning-hovered);
}

.warning:focus {
  box-shadow: 0 0 0 2px var(--cui-border-warning);
}

.warning:active {
  box-shadow: 0 0 0 1px var(--cui-border-warning-pressed);
}

.warning:not(:focus):not([disabled])::placeholder {
  color: var(--cui-fg-warning);
}

/* Alignment */

.align-right {
  text-align: right;
}

/* Prefix & suffix */

.has-prefix {
  padding-left: var(--cui-spacings-exa);
}

.has-suffix {
  padding-right: var(--cui-spacings-exa);
}

.prefix,
.suffix {
  position: absolute;
  width: var(--cui-spacings-exa);
  height: var(--cui-spacings-exa);
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega);
  color: var(--cui-fg-subtle);
  pointer-events: none;
}

.suffix {
  top: 0;
  right: 0;
  transition: right var(--cui-transitions-default);
}

button.prefix,
button.suffix,
.prefix button,
.suffix button {
  pointer-events: auto;
}
