.title {
  margin-bottom: var(--cui-spacings-byte);
}

.title::after {
  content: ' →';
}

.title a {
  color: var(--cui-fg-normal);
  text-decoration: none;
}

.title a:hover,
.title a:focus-visible {
  text-decoration: underline;
}
