.base {
  margin: 0;
  font-weight: var(--cui-font-weight-bold);
  color: var(--cui-fg-normal);
  letter-spacing: var(--cui-letter-spacing);
}

/* Sizes */

.l {
  font-size: var(--cui-headline-l-font-size);
  line-height: var(--cui-headline-l-line-height);
}

.m {
  font-size: var(--cui-headline-m-font-size);
  line-height: var(--cui-headline-m-line-height);
}

.s {
  font-size: var(--cui-headline-s-font-size);
  line-height: var(--cui-headline-s-line-height);
}
