.base {
  font-weight: var(--cui-font-weight-bold);
  color: var(--cui-fg-normal);
  letter-spacing: -0.03em;
}

/* Sizes */

.l {
  font-size: var(--cui-headline-l-font-size);
  line-height: var(--cui-headline-l-line-height);
  letter-spacing: var(--cui-letter-spacing);
}

.m {
  font-size: var(--cui-headline-m-font-size);
  line-height: var(--cui-headline-m-line-height);
  letter-spacing: var(--cui-letter-spacing);
}

.s {
  font-size: var(--cui-headline-s-font-size);
  line-height: var(--cui-headline-s-line-height);
  letter-spacing: var(--cui-letter-spacing);
}
