.base {
  font-weight: var(--cui-font-weight-bold);
  color: var(--cui-fg-normal);
  letter-spacing: -0.03em;
}

/* Sizes */

.l {
  font-size: var(--cui-typography-headline-one-font-size);
  line-height: var(--cui-typography-headline-one-line-height);
}

.m {
  font-size: var(--cui-typography-headline-two-font-size);
  line-height: var(--cui-typography-headline-two-line-height);
}

.s {
  font-size: var(--cui-typography-headline-four-font-size);
  line-height: var(--cui-typography-headline-four-line-height);
}

.one {
  font-size: var(--cui-typography-headline-one-font-size);
  line-height: var(--cui-typography-headline-one-line-height);
}

.two {
  font-size: var(--cui-typography-headline-two-font-size);
  line-height: var(--cui-typography-headline-two-line-height);
}

.three {
  font-size: var(--cui-typography-headline-three-font-size);
  line-height: var(--cui-typography-headline-three-line-height);
}

.four {
  font-size: var(--cui-typography-headline-four-font-size);
  line-height: var(--cui-typography-headline-four-line-height);
}
