.wrapper {
  position: relative;
  display: block;
  color: var(--cui-fg-normal);
}

.base {
  position: relative;
  z-index: var(--cui-z-index-input);
  width: 100%;
  padding-top: var(--cui-spacings-kilo);
  padding-right: var(--cui-spacings-exa);
  padding-bottom: var(--cui-spacings-kilo);
  padding-left: var(--cui-spacings-mega);
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: var(--cui-body-m-font-size);
  line-height: var(--cui-body-m-line-height);
  color: var(--cui-fg-normal);
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: var(--cui-bg-normal);
  border: 1px solid var(--cui-border-normal);
  border-radius: var(--cui-border-radius-byte);
  box-shadow: none;
  transition:
    box-shadow var(--cui-transitions-default),
    border var(--cui-transitions-default),
    padding var(--cui-transitions-default);
}

.base:hover {
  border: 1px solid var(--cui-border-normal-hovered);
}

.base:focus {
  border: 1px solid var(--cui-border-accent);
  box-shadow: inset 0 0 0 1px var(--cui-border-accent);
}

.base::-ms-expand {
  display: none;
}

/* Validations */

.base[aria-invalid="true"] {
  border: 1px solid var(--cui-border-danger);
}

.base[aria-invalid="true"]:hover {
  border: 1px solid var(--cui-border-danger-hovered);
}

.base[aria-invalid="true"]:focus {
  border: 1px solid var(--cui-border-danger);
  box-shadow: inset 0 0 0 1px var(--cui-border-danger);
}

.base:disabled,
.base[disabled] {
  color: var(--cui-fg-normal-disabled);
  background-color: var(--cui-bg-normal-disabled);
  border: 1px solid var(--cui-border-normal-disabled);
}

.has-prefix {
  padding-left: var(--cui-spacings-exa);
}

.prefix {
  position: absolute;
  z-index: calc(var(--cui-z-index-input) + 1);
  display: block;
  width: var(--cui-spacings-exa);
  height: var(--cui-spacings-exa);
  padding: var(--cui-spacings-mega);
  pointer-events: none;
}

button.prefix,
.prefix button {
  pointer-events: auto;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: calc(var(--cui-z-index-input) + 3);
  display: block;
  width: var(--cui-spacings-exa);
  height: var(--cui-spacings-exa);
  padding: var(--cui-spacings-mega);
  color: var(--cui-fg-subtle);
  pointer-events: none;
}

.base:active ~ .icon {
  transform: rotate(180deg);
}

.base:disabled ~ .icon,
.base[disabled] ~ .icon {
  color: var(--cui-fg-subtle-disabled);
}
