.wrapper {
  position: relative;
  display: block;
  color: var(--cui-fg-normal);
}

.base {
  position: relative;
  z-index: var(--cui-z-index-input);
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: var(--cui-fg-normal);
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: var(--cui-bg-normal);
  border: 1px solid var(--cui-border-normal);
  box-shadow: none;
  transition:
    box-shadow var(--cui-transitions-default),
    border var(--cui-transitions-default),
    padding var(--cui-transitions-default);
}

.base:hover {
  border: 1px solid var(--cui-border-normal-hovered);
}

.base:focus {
  border: 1px solid var(--cui-border-accent);
  box-shadow: inset 0 0 0 1px var(--cui-border-accent);
}

.base::-ms-expand {
  display: none;
}

/* Validations */

.base[aria-invalid="true"] {
  border: 1px solid var(--cui-border-danger);
}

.base[aria-invalid="true"]:hover {
  border: 1px solid var(--cui-border-danger-hovered);
}

.base[aria-invalid="true"]:focus {
  border: 1px solid var(--cui-border-danger);
  box-shadow: inset 0 0 0 1px var(--cui-border-danger);
}

.base:disabled,
.base[disabled] {
  color: var(--cui-fg-normal-disabled);
  background-color: var(--cui-bg-normal-disabled);
  border: 1px solid var(--cui-border-normal-disabled);
}

/* Prefix */

.wrapper .prefix {
  position: absolute;
  top: 50%;
  z-index: calc(var(--cui-z-index-input) + 1);
  pointer-events: none;
  transform: translateY(-50%);
}

button.prefix,
.prefix button {
  pointer-events: auto;
}

/* Icon (chevron) */

.wrapper .icon {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: calc(var(--cui-z-index-input) + 3);
  display: block;
  color: var(--cui-fg-subtle);
  pointer-events: none;
  transform: translateY(-50%);
}

.base:active ~ .icon {
  transform: translateY(-50%) rotate(180deg);
}

.base:disabled ~ .icon,
.base[disabled] ~ .icon {
  color: var(--cui-fg-subtle-disabled);
}

/* Sizes */

/* s */

.wrapper.s .base {
  padding: var(--field-input-padding-block) var(--cui-spacings-tera)
    var(--field-input-padding-block) var(--cui-spacings-kilo);
  font-size: var(--field-input-font-size);
  line-height: var(--field-input-line-height);
  border-radius: var(--field-input-border-radius);
}

.wrapper.s .has-prefix {
  padding-left: var(--cui-spacings-tera);
}

.wrapper.s .prefix {
  width: var(--cui-spacings-tera);
  height: var(--cui-spacings-tera);
  padding: var(--cui-spacings-byte);
}

.wrapper.s .icon {
  width: var(--cui-icon-sizes-l);
  height: var(--cui-icon-sizes-l);
  padding: var(--cui-spacings-byte);
}

/* m */

.wrapper.m .base {
  padding: var(--field-input-padding-block) var(--cui-spacings-exa)
    var(--field-input-padding-block) var(--cui-spacings-mega);
  font-size: var(--field-input-font-size);
  line-height: var(--field-input-line-height);
  border-radius: var(--field-input-border-radius);
}

.wrapper.m .has-prefix {
  padding-left: var(--cui-spacings-exa);
}

.wrapper.m .prefix {
  width: var(--cui-spacings-exa);
  height: var(--cui-spacings-exa);
  padding: var(--cui-spacings-mega);
}

.wrapper.m .icon {
  width: var(--cui-icon-sizes-xl);
  height: var(--cui-icon-sizes-xl);
  padding: var(--cui-spacings-kilo);
}
