.base {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.wrapper {
  position: relative;
  width: 100%;
}

/* Table headers */
.base thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: var(--cui-spacings-giga);
  background-color: var(--cui-bg-normal);
}

.border {
  border-left: 1px solid var(--cui-border-subtle);
}

.section {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: var(--cui-spacings-giga) 0 var(--cui-spacings-mega);
  text-align: start;
  background-color: var(--cui-bg-normal);
  border-bottom: var(--cui-border-width-kilo) solid var(--cui-border-strong);
}

.expand {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 96px;
  content: "";
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-normal) 0%, transparent),
    color-mix(in sRGB, var(--cui-bg-normal) 90%, transparent),
    color-mix(in sRGB, var(--cui-bg-normal) 100%, transparent)
  );
}

@media (max-width: 767px) {
  .base {
    table-layout: fixed;
  }

  .base thead th {
    top: 80px; /* height of the sticky plan picker on mobile */
    padding-top: 0;
  }

  .base colgroup col {
    width: 40%;
  }

  .base colgroup col:first-child {
    width: 40%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .base thead th {
    top: 96px; /* height of the sticky plan picker on tablet */
    padding-top: 0;
  }
}
