.base {
  color: var(--cui-fg-normal);
}

.s {
  height: calc(
    var(--cui-body-s-line-height) +
    2 *
    5px +
    2 *
    var(--cui-border-width-kilo)
  );
}

.m {
  height: calc(
    var(--cui-body-m-line-height) +
    2 *
    var(--cui-spacings-kilo) +
    2 *
    var(--cui-border-width-kilo)
  );
}
