{
  "plugins": ["@babel/plugin-proposal-class-properties", "lodash"],
  "presets": [["@babel/preset-env", { "loose": true }], "@babel/preset-react"],
  "env": {
    "cjs": {
      "ignore": ["**/*.spec.js", "**/*.story.js", "**/*.docs.mdx"],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "lodash",
        "inline-react-svg",
        "dev-expression"
      ],
      "presets": [
        ["@babel/preset-env", { "loose": true }],
        "@babel/preset-react",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    },
    "es": {
      "ignore": ["**/*.spec.js", "**/*.story.js", "**/*.docs.mdx"],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "lodash",
        "inline-react-svg",
        "dev-expression"
      ],
      "presets": [
        ["@babel/preset-env", { "loose": true, "modules": false }],
        "@babel/preset-react",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    },
    "native": {
      "ignore": ["**/*.spec.js", "**/*.story.js", "**/*.docs.mdx"],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "lodash",
        "inline-react-svg",
        "dev-expression",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "@emotion/core": "@emotion/native"
            }
          }
        ]
      ],
      "presets": [
        ["@babel/preset-env", { "loose": true, "modules": false }],
        "@babel/preset-react"
      ]
    },
    "static": {
      "ignore": ["**/*.spec.js", "**/*.story.js", "**/*.docs.mdx"],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "lodash",
        "inline-react-svg",
        "dev-expression",
        "react-docgen"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "@babel/preset-react",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "lodash",
        "react-docgen",
        "macros"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false
          }
        ]
      ]
    }
  }
}
