{
  "env": {
    "cjs": {
      "plugins": [
        "transform-class-properties",
        "lodash",
        "transform-object-rest-spread",
        [
          "emotion",
          {
            "autoLabel": true,
            "hoist": true,
            "sourceMap": true
          }
        ]
      ],
      "presets": [["es2015", { "loose": true }], "react", "stage-3"]
    },
    "es": {
      "plugins": [
        "transform-class-properties",
        "lodash",
        "transform-object-rest-spread",
        [
          "emotion",
          {
            "autoLabel": true,
            "hoist": true,
            "sourceMap": true
          }
        ]
      ],
      "presets": [
        ["es2015", { "loose": true, "modules": false }],
        "react",
        "stage-3"
      ]
    },
    "test": {
      "plugins": [
        "transform-class-properties",
        "lodash",
        "transform-object-rest-spread",
        [
          "emotion",
          {
            "autoLabel": true,
            "hoist": true,
            "sourceMap": true
          }
        ]
      ],
      "presets": ["es2015", "react", "stage-3"]
    }
  }
}
