# The browsers that are explicitly supported
chrome >= 85
firefox >= 79
safari >= 14
ios_saf >= 14
edge >= 85
opera >= 71
samsung >= 14

# The features that the script checks for
supports css-grid and supports object-entries and supports es6-module-dynamic-import and not dead and not unreleased versions
