node_modules/
build/
dist/
public/
.next/
.out/
__coverage__/
__reports__/
*.config.*
package.json
package-lock.json
*rc.*
/scripts/
# disable linting for templates because they will have their own rules when used in a new app
packages/cna-template/template
packages/astro-template/src/env.d.ts
packages/circuit-ui/vendor
