node_modules/
build/
dist/
public/
scripts/
.next/
.out/
__coverage__/
__reports__/
*.config.js
*rc.js
jest.*.js
tsconfig.json
package.json
scripts/
# disable linting for the template because it will have its own rules when used in a new app
packages/cna-template/template
