.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: auto;
}

.stretch {
  width: 100%;
}

.stretch .options {
  justify-content: space-evenly;
  width: 100%;
}

/* Sizes */
.s > div:not(:last-child) {
  margin-right: var(--cui-spacings-byte);
}

.m > div:not(:last-child),
.flexible > div:not(:last-child) {
  margin-right: var(--cui-spacings-kilo);
}

.option {
  flex: 1;
  width: 100%;
}
