.stretch {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
}

.stretch .options {
  justify-content: space-evenly;
  width: 100%;
}

/* Sizes */
.s .options {
  gap: var(--cui-spacings-byte);
}

.m .options,
.flexible .options {
  gap: var(--cui-spacings-kilo);
}

.option {
  flex: 1;
  width: 100%;
}
