.input {
  width: calc(var(--width) + 2 * var(--cui-spacings-bit));
  padding: var(--cui-spacings-bit);
  font-size: var(--cui-typography-body-m-font-size);
  font-variant-numeric: tabular-nums;
  line-height: var(--cui-typography-body-m-line-height);
  text-align: end;
  appearance: textfield;
  background-color: var(--cui-bg-normal);
  border: none;
  border-radius: var(--cui-border-radius-bit);
  transition: background-color var(--cui-transitions-default);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.input:focus {
  background-color: var(--cui-bg-highlight);
  outline: none;
}

.input:read-only {
  color: var(--cui-fg-normal-disabled);
  background-color: var(--cui-bg-normal);
}

.size {
  position: absolute;
  font-size: var(--cui-typography-body-m-font-size);
  font-variant-numeric: tabular-nums;
  line-height: var(--cui-typography-body-m-line-height);
  text-align: end;
  pointer-events: none;
  visibility: hidden;
}
