.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
}

.image {
  max-width: 280px;
  height: 160px;
  object-fit: contain;
}

.image svg {
  width: 100%;
  height: 100%;
}

.headline {
  margin-top: var(--cui-spacings-giga);
  margin-bottom: var(--cui-spacings-byte);
  text-align: center;
}

.body {
  text-align: center;
}

.buttons {
  margin-top: var(--cui-spacings-giga);
}
