.base {
  position: relative;
  background-color: var(--cui-bg-normal);
}

.picker {
  position: sticky;
  top: var(--top-navigation-height, 0);
  z-index: 2;
}

@media (min-width: 768px) {
  .picker {
    display: none;
  }
}
