.base {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--cui-z-index-navigation);
  display: none;
  width: var(--side-navigation-width);
  min-width: var(--side-navigation-width);
  height: 100vh;

  /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
  height: 100dvh;
  overflow-y: auto;
  background-color: var(--cui-bg-normal);
  border-right: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
}

@media (min-width: 1024px) {
  .base {
    display: block;
    flex-direction: column;
    justify-content: space-between;
  }
}
