.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports not (aspect-ratio: 1 / 1) {
  .wrapper {
    height: var(--flag-wrapper-height);
  }
}

@supports (aspect-ratio: 1 / 1) {
  .wrapper {
    aspect-ratio: 1 / 1;
  }
}

.base {
  border: 0.5px solid #ccc;
  border-radius: 2px;
}

.s {
  width: var(--cui-icon-sizes-s);
  height: calc(var(--cui-icon-sizes-s) * 3 / 4);
}

.m {
  width: var(--cui-icon-sizes-m);
  height: calc(var(--cui-icon-sizes-m) * 3 / 4);
}

.l {
  width: var(--cui-icon-sizes-l);
  height: calc(var(--cui-icon-sizes-l) * 3 / 4);
}
