.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.base {
  border: var(--cui-border-width-kilo) solid var(--cui-border-strong);
  border-radius: var(--cui-border-radius-bit);
}

.s {
  width: calc(var(--cui-icon-sizes-kilo) * 4 / 3);
  height: var(--cui-icon-sizes-kilo);
}

.m {
  width: calc(var(--cui-icon-sizes-mega) * 4 / 3);
  height: var(--cui-icon-sizes-mega);
}

.l {
  width: calc(var(--cui-icon-sizes-giga) * 4 / 3);
  height: var(--cui-icon-sizes-giga);
}

.s {
  width: var(--cui-icon-sizes-kilo);
  height: calc(var(--cui-icon-sizes-kilo) * 3 / 4);
}

.m {
  width: var(--cui-icon-sizes-mega);
  height: calc(var(--cui-icon-sizes-mega) * 3 / 4);
}

.l {
  width: var(--cui-icon-sizes-giga);
  height: calc(var(--cui-icon-sizes-giga) * 3 / 4);
}
