.base {
  display: inline-flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0;
  font-size: var(--cui-typography-body-one-font-size);
  font-weight: var(--cui-font-weight-bold);
  line-height: var(--cui-typography-body-one-line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-style: solid;
  border-width: var(--cui-border-width-kilo);
  border-radius: var(--cui-border-radius-pill);
  transition: opacity var(--cui-transitions-default),
    color var(--cui-transitions-default),
    background-color var(--cui-transitions-default),
    border-color var(--cui-transitions-default);
}

.base:disabled,
.base[disabled] {
  pointer-events: none;
}

.base[aria-busy="true"] {
  position: relative;
  overflow: hidden;
}

.stretch {
  width: 100%;
}

/* Sizes */
.kilo {
  padding: calc(var(--cui-spacings-bit) - var(--cui-border-width-kilo)) calc(var(--cui-spacings-mega) - var(--cui-border-width-kilo));
}

.giga {
  padding: calc(var(--cui-spacings-kilo) - var(--cui-border-width-kilo)) calc(var(--cui-spacings-giga) - var(--cui-border-width-kilo));
}

/* Variants */
.primary {
  color: var(--cui-fg-on-strong);
  background-color: var(--cui-bg-accent-strong);
  border-color: transparent;
}

.primary:hover {
  color: var(--cui-fg-on-strong-hovered);
  background-color: var(--cui-bg-accent-strong-hovered);
  border-color: transparent;
}

.primary:active,
.primary[aria-expanded='true'],
.primary[aria-pressed='true'] {
  color: var(--cui-fg-on-strong-pressed);
  background-color: var(--cui-bg-accent-strong-pressed);
  border-color: transparent;
}

.primary:disabled,
.primary[disabled] {
  color: var(--cui-fg-on-strong-disabled);
  background-color: var(--cui-bg-accent-strong-disabled);
  border-color: transparent;
}

.primary.destructive {
  background-color: var(--cui-bg-danger-strong);
}

.primary.destructive:hover {
  background-color: var(--cui-bg-danger-strong-hovered);
}

.primary.destructive:active,
.primary.destructive[aria-expanded='true'],
.primary.destructive[aria-pressed='true'] {
  background-color: var(--cui-bg-danger-strong-pressed);
}

.primary.destructive:disabled,
.primary.destructive[disabled] {
  background-color: var(--cui-bg-danger-strong-disabled);
}

.secondary {
  color: var(--cui-fg-normal);
  background-color: var(--cui-bg-normal);
  border-color: var(--cui-border-normal);
}

.secondary:hover {
  color: var(--cui-fg-normal-hovered);
  background-color: var(--cui-bg-normal-hovered);
  border-color: var(--cui-border-normal-hovered);
}

.secondary:active,
.secondary[aria-expanded='true'],
.secondary[aria-pressed='true'] {
  color: var(--cui-fg-normal-pressed);
  background-color: var(--cui-bg-normal-pressed);
  border-color: var(--cui-border-normal-pressed);
}

.secondary:disabled,
.secondary[disabled] {
  color: var(--cui-fg-normal-disabled);
  background-color: var(--cui-bg-normal-disabled);
  border-color: var(--cui-border-normal-disabled);
}

.secondary.destructive {
  color: var(--cui-fg-danger);
  border-color: var(--cui-border-danger);
}

.secondary.destructive:hover {
  color: var(--cui-fg-danger-hovered);
  border-color: var(--cui-border-danger-hovered);
}

.secondary.destructive:active,
.secondary.destructive[aria-expanded='true'],
.secondary.destructive[aria-pressed='true'] {
  color: var(--cui-fg-danger-pressed);
  border-color: var(--cui-border-danger-pressed);
}

.secondary.destructive:disabled,
.secondary.destructive[disabled] {
  color: var(--cui-fg-danger-disabled);
  border-color: var(--cui-border-danger-disabled);
}

.tertiary {
  padding-right: 0;
  padding-left: 0;
  color: var(--cui-fg-accent);
  background-color: transparent;
  border-color: transparent;
}

.tertiary:hover {
  color: var(--cui-fg-accent-hovered);
  background-color: transparent;
  border-color: transparent;
}

.tertiary:active,
.tertiary[aria-expanded='true'],
.tertiary[aria-pressed='true'] {
  color: var(--cui-fg-accent-pressed);
  background-color: transparent;
  border-color: transparent;
}

.tertiary:disabled,
.tertiary[disabled] {
  color: var(--cui-fg-accent-disabled);
  background-color: transparent;
  border-color: transparent;
}

.tertiary.destructive {
  color: var(--cui-fg-danger);
}

.tertiary.destructive:hover {
  color: var(--cui-fg-danger-hovered);
}

.tertiary.destructive:active,
.tertiary.destructive[aria-expanded='true'],
.tertiary.destructive[aria-pressed='true'] {
  color: var(--cui-fg-danger-pressed);
}

.tertiary.destructive:disabled,
.tertiary.destructive[disabled] {
  color: var(--cui-fg-danger-disabled);
}

/* Content */
.icon {
  flex-shrink: 0;
  margin-right: var(--cui-spacings-byte);
}

.base .spinner {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--cui-transitions-default),
    visibility var(--cui-transitions-default);
}

.base[aria-busy="true"] .spinner {
  visibility: inherit;
  opacity: 1;
}

.content {
  display: inline-flex;
  align-items: center;
  visibility: inherit;
  opacity: 1;
  transition: opacity var(--cui-transitions-default),
    transform var(--cui-transitions-default),
    visibility var(--cui-transitions-default);
  transform: scale3d(1, 1, 1);
}

.base[aria-busy="true"] .content {
  visibility: hidden;
  opacity: 0;
  transform: scale3d(0, 0, 0);
}
