.stretch {
  width: 100%;
}

/* Sizes */
.s {
  padding: calc(var(--cui-spacings-bit) - var(--cui-border-width-kilo))
    calc(var(--cui-spacings-kilo) - var(--cui-border-width-kilo));
}

.m {
  padding: calc(var(--cui-spacings-kilo) - var(--cui-border-width-kilo))
    calc(var(--cui-spacings-giga) - var(--cui-border-width-kilo));
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
