/* Visually hide the label */
.base > span:last-child > span:last-child {
  /* .hide-visually */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* Sizes */
.s {
  padding: calc(var(--cui-spacings-bit) - var(--cui-border-width-kilo));
}

.m {
  padding: calc(var(--cui-spacings-kilo) - var(--cui-border-width-kilo));
}
