/* Variants */
.full {
  aspect-ratio: 95 / 24;
}

.short {
  aspect-ratio: 1 / 1;
}

/* Sizes */
.s {
  height: var(--cui-icon-sizes-m);
}

.m {
  height: var(--cui-icon-sizes-l);
}

.l {
  height: var(--cui-icon-sizes-xl);
}
