.base {
  position: fixed;
  right: 0;
  bottom: 0;
  left: unset;
  z-index: var(--cui-z-index-side-panel);
  box-shadow: none;
  transform: translateX(100%);
  transition: transform var(--dialog-animation-duration) ease-in-out;
}

.open {
  transform: translateX(0);
}

.content {
  width: 100%;
}

.wrapper {
  outline-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;

  /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 767px) {
  .base {
    top: 0;
    min-width: 100vw;
    height: 100vh;

    /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
    height: 100dvh;
    max-height: unset;
    margin: auto;
    border-radius: 0;
  }

  .content {
    padding: 0 var(--cui-spacings-mega);
  }
}

@media (min-width: 768px) {
  .base {
    top: var(--top-navigation-height, 0);
    width: var(--side-panel-width);
    height: calc(100vh - var(--top-navigation-height, 0));

    /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
    height: calc(100dvh - var(--top-navigation-height, 0));
    padding: var(--cui-spacings-mega) 0 !important;
    margin: 0;
    background-color: var(--cui-bg-normal);
  }

  .base::after {
    /* to account for inset box shadow */
    bottom: calc(var(--cui-spacings-mega) + var(--cui-border-width-kilo));

    /* to account for inset box shadow */
    left: var(--cui-border-radius-kilo);
    width: calc(
      var(--side-panel-width) -
      calc(var(--cui-border-radius-kilo) * 2) -
      calc(var(--cui-spacings-mega) * 2)
    );
    background: linear-gradient(
      color-mix(in sRGB, var(--cui-bg-normal) 0%, transparent),
      color-mix(in sRGB, var(--cui-bg-normal) 66%, transparent),
      color-mix(in sRGB, var(--cui-bg-normal) 100%, transparent)
    );
    border-bottom-right-radius: var(--cui-border-radius-kilo);
    border-bottom-left-radius: var(--cui-border-radius-kilo);
  }

  .wrapper {
    margin-right: var(--cui-spacings-tera);
    border: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
    border-radius: var(--cui-border-radius-kilo);
  }

  .content {
    padding: 0 var(--cui-spacings-giga) var(--cui-spacings-giga);
  }
}
