:root {
  --side-panel-width: 400px;
}

/* Enable keyboard navigation inside the modal, see https://github.com/reactjs/react-modal/issues/782 */
.portal {
  position: fixed;
  right: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  /* Remove scroll on the body when react-modal is open */
  .open {
    height: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
  }

  /* Enable keyboard navigation inside the modal, see https://github.com/reactjs/react-modal/issues/782 */
  .portal {
    top: 0;
    left: 0;
    z-index: var(--cui-z-index-modal);
  }
}

/* Enable keyboard navigation inside the modal, see https://github.com/reactjs/react-modal/issues/782 */
@media (min-width: 768px) {
  .portal {
    top: var(--top-navigation-height, 0);
    z-index: var(--cui-z-index-absolute);
    width: var(--side-panel-width);
  }
}

.base {
  width: 100%;
  min-height: calc(100vh - var(--top-navigation-height));
  transition: width var(--cui-transitions-slow);
}

.resized {
  width: calc(100% - var(--side-panel-width));
}
