:root {
  --side-panel-width: 400px;
}

.base {
  width: 100%;
  transition: width var(--cui-transitions-slow);
}

@media (min-width: 768px) {
  .resized {
    width: calc(100% - var(--side-panel-width));
  }
}
