.base {
  font-weight: var(--cui-font-weight-bold);
  color: var(--cui-fg-normal);
  letter-spacing: -0.03em;
}

/* Sizes */

.l {
  font-size: var(--cui-typography-display-l-font-size);
  line-height: var(--cui-typography-display-l-line-height);
}

.m {
  font-size: var(--cui-typography-display-m-font-size);
  line-height: var(--cui-typography-display-m-line-height);
}

.s {
  font-size: var(--cui-typography-display-s-font-size);
  line-height: var(--cui-typography-display-s-line-height);
}

.one {
  font-size: var(--cui-typography-display-l-font-size);
  line-height: var(--cui-typography-display-l-line-height);
}

.two {
  font-size: var(--cui-typography-display-m-font-size);
  line-height: var(--cui-typography-display-m-line-height);
}

.three {
  font-size: var(--cui-typography-display-m-font-size);
  line-height: var(--cui-typography-display-m-line-height);
}

.four {
  font-size: var(--cui-typography-display-s-font-size);
  line-height: var(--cui-typography-display-s-line-height);
}
