.base {
  margin: 0;
  font-weight: var(--cui-font-weight-bold);
  color: var(--cui-fg-normal);
  letter-spacing: var(--cui-letter-spacing-tight, var(--cui-letter-spacing));
}

/* Weights */

.regular {
  font-weight: var(--cui-font-weight-regular);
}

.semibold {
  font-weight: var(--cui-font-weight-semibold);
}

.bold {
  font-weight: var(--cui-font-weight-bold);
}

/* Sizes */

.l {
  font-size: var(--cui-display-l-font-size);
  font-size: clamp(
    var(--cui-display-m-font-size),
    1.848vw + 2.522rem,
    var(--cui-display-l-font-size)
  );
  line-height: var(--cui-display-l-line-height);
  line-height: clamp(
    var(--cui-display-m-line-height),
    1.848vw + 3.022rem,
    var(--cui-display-l-line-height)
  );
}

.m {
  font-size: var(--cui-display-m-font-size);
  font-size: clamp(
    var(--cui-display-s-font-size),
    0.924vw + 2.261rem,
    var(--cui-display-m-font-size)
  );
  line-height: var(--cui-display-m-line-height);
  line-height: clamp(
    var(--cui-display-s-line-height),
    1.155vw + 2.576rem,
    var(--cui-display-m-line-height)
  );
}

.s {
  font-size: var(--cui-display-s-font-size);
  line-height: var(--cui-display-s-line-height);
}
