.base {
  font-weight: var(--cui-font-weight-regular);
}

/* Sizes */

.l {
  padding-left: var(--cui-spacings-kilo);
  font-size: var(--cui-body-l-font-size);
  line-height: var(--cui-body-l-line-height);
}

.l li {
  margin-bottom: var(--cui-spacings-kilo);
  margin-left: var(--cui-spacings-mega);
}

.l li:last-child {
  margin-bottom: 0;
}

.l ul,
.l ol {
  margin-bottom: var(--cui-spacings-byte);
  margin-left: var(--cui-spacings-kilo);
}

.l ul:last-child,
.l ol:last-child {
  margin-bottom: 0;
}

.m {
  padding-left: var(--cui-spacings-kilo);
  font-size: var(--cui-body-m-font-size);
  line-height: var(--cui-body-m-line-height);
}

.m li {
  margin-bottom: var(--cui-spacings-byte);
  margin-left: var(--cui-spacings-kilo);
}

.m li:last-child {
  margin-bottom: 0;
}

.m ul,
.m ol {
  margin-bottom: var(--cui-spacings-byte);
  margin-left: var(--cui-spacings-kilo);
}

.m ul:last-child,
.m ol:last-child {
  margin-bottom: 0;
}

.s {
  padding-left: var(--cui-spacings-kilo);
  font-size: var(--cui-body-s-font-size);
  line-height: var(--cui-body-s-line-height);
}

.s li {
  margin-bottom: var(--cui-spacings-byte);
  margin-left: var(--cui-spacings-bit);
}

.s li:last-child {
  margin-bottom: 0;
}

.s ul,
.s ol {
  margin-bottom: var(--cui-spacings-byte);
  margin-left: var(--cui-spacings-bit);
}

.s ul:last-child,
.s ol:last-child {
  margin-bottom: 0;
}
