.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  padding: var(--cui-spacings-bit) var(--cui-spacings-kilo);
  font-size: var(--cui-compact-s-font-size);
  font-weight: var(--cui-font-weight-semibold);
  line-height: var(--cui-compact-s-line-height);
  text-align: center;
  border-radius: var(--cui-border-radius-pill);
}

.circle {
  width: var(--badge-width);
  padding: 2px var(--cui-spacings-bit);
}

/* Variants */

.success {
  color: var(--cui-fg-on-strong);
  background-color: var(--cui-bg-success-strong);
}

.warning {
  color: var(--cui-fg-on-strong);
  background-color: var(--cui-bg-warning-strong);
}

.danger {
  color: var(--cui-fg-on-strong);
  background-color: var(--cui-bg-danger-strong);
}

.neutral {
  color: var(--cui-fg-normal);
  background-color: var(--cui-bg-highlight);
}

.promo {
  color: var(--cui-fg-on-strong);
  background-color: var(--cui-bg-promo-strong);
}
