.content {
  --vertical-spacing: var(--cui-spacings-byte);

  box-sizing: border-box;
  padding: var(--vertical-spacing) 0;
  overflow-y: auto;
  background-color: var(--cui-bg-elevated);
  border: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
  border-radius: var(--cui-border-radius-byte);
}

.divider {
  width: calc(100% - var(--cui-spacings-kilo) * 2);
  margin: calc(var(--vertical-spacing) / 2) var(--cui-spacings-kilo);
}

.base::after {
  height: var(--vertical-spacing);
  margin: var(--cui-border-width-kilo) var(--cui-border-width-mega);
}
