.base {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--cui-border-radius-mega);
  transition: opacity 200ms ease-in-out, height 200ms ease-in-out,
    visibility 200ms ease-in-out;
}

/* Variants */

.system {
  background-color: var(--cui-bg-accent);
}

.promotional {
  background-color: var(--cui-bg-subtle);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
  padding: var(--cui-spacings-giga);
  padding-right: var(--cui-spacings-byte);
}

/* Child elements */

.base .headline {
  margin-bottom: var(--cui-spacings-byte);
  font-size: var(--cui-typography-headline-four-font-size);
  line-height: var(--cui-typography-headline-four-line-height);
}

@media (min-width: 768px) {
  .base .headline {
    font-size: var(--cui-typography-headline-three-font-size);
    line-height: var(--cui-typography-headline-three-line-height);
  }
}

.base .body {
  margin-bottom: var(--cui-spacings-byte);
  font-size: var(--cui-typography-body-two-font-size);
  line-height: var(--cui-typography-body-two-line-height);
}

@media (min-width: 768px) {
  .base .body {
    font-size: var(--cui-typography-body-one-font-size);
    line-height: var(--cui-typography-body-one-line-height);
  }
}

.base .image {
  width: var(--notification-image-width);
  min-width: 0;
  height: auto;
  border-radius: 0 var(--cui-border-radius-mega) var(--cui-border-radius-mega) 0;
  object-fit: contain;
  object-position: var(--notification-image-align);
}

/* Keep in sync with the `.s` class in Button.module.css  */
.base .button.s,
.base .button.m {
  --content-gap: var(--cui-spacings-bit);
  --loader-diameter: 4px;
  --loader-gap: 3px;
  --loader-transform: scale(150%);

  padding: calc(var(--cui-spacings-bit) - var(--cui-border-width-kilo))
    calc(var(--cui-spacings-kilo) - var(--cui-border-width-kilo));
  border-radius: 10px;
}

@media (min-width: 768px) {
  /* Keep in sync with the `.m` class in Button.module.css  */
  .base .button.m {
    --content-gap: var(--cui-spacings-byte);
    --loader-diameter: 6px;
    --loader-gap: 5px;
    --loader-transform: scale(133%);

    padding: calc(var(--cui-spacings-kilo) - var(--cui-border-width-kilo))
      calc(var(--cui-spacings-giga) - var(--cui-border-width-kilo));
    border-radius: var(--cui-border-radius-kilo);
  }
}

.base .close {
  position: absolute;
  top: var(--cui-spacings-byte);
  right: var(--cui-spacings-byte);
}

.system .close {
  background-color: var(--cui-bg-accent);
}

.promotional .close {
  background-color: var(--cui-bg-subtle);
}
