.base {
  height: 100%;
  background-color: var(--cui-bg-normal);
  outline: none;
  transition: transform var(--cui-transitions-slow);
  transform: translateX(100%);
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 0%);
  transition: background-color var(--cui-transitions-slow);
}

.overlay-open {
  background-color: var(--cui-bg-overlay);
}

.overlay-closed {
  background-color: rgb(0 0 0 / 0%);
}
