.base {
  font-size: var(--cui-typography-body-l-font-size);
  font-weight: var(--cui-font-weight-regular);
  line-height: var(--cui-typography-body-l-line-height);
}

/* Variants */

.highlight,
strong {
  font-weight: var(--cui-font-weight-bold);
}

.quote,
blockquote {
  padding-left: var(--cui-spacings-kilo);
  font-style: italic;
  border-left: var(--cui-border-width-mega) solid var(--cui-border-accent);
}

.confirm {
  color: var(--cui-fg-success);
}

.alert {
  color: var(--cui-fg-danger);
}

.subtle {
  color: var(--cui-fg-subtle);
}
