.base {
  position: relative;
  margin: 0;
  overflow-y: auto;
}

.loading {
  overflow-y: hidden;
}

.loading::before {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(
    --cui-bg-normal
  ); /* Change the color and opacity as needed */

  opacity: 0.5;
}

li:last-of-type {
  margin-bottom: 0;
}

.group {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.group-label {
  margin-left: var(--cui-spacings-byte);
}

.group-suggestion {
  padding: 0;
  margin: var(--cui-spacings-byte) 0;
  list-style-type: none;
}

.spinner {
  margin: var(--cui-spacings-byte) auto;
}

@media (max-width: 767px) {
  .base {
    padding: var(--cui-spacings-mega) 2px;
  }
}

@media (min-width: 768px) {
  .base {
    height: inherit;
    max-height: inherit;
    padding: var(--cui-spacings-mega);
  }
}
