.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: var(--cui-body-m-font-size);
  line-height: var(--cui-body-m-line-height);
  text-align: left;
  background: var(--cui-bg-elevated);
}

.icon {
  width: var(--cui-icon-sizes-mega);
  height: var(--cui-icon-sizes-mega);
  margin-right: var(--cui-spacings-byte);
}
