.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 40px;
  text-align: left;
  font-size: var(--cui-body-m-font-size);
  line-height: var(--cui-body-m-line-height);
  background: var(--cui-bg-elevated);
}

.icon {
  margin-right: var(--cui-spacings-kilo);
}
