.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: auto;
  overflow: scroll;
  pointer-events: none;
  visibility: hidden;
  border: none;
  border-radius: var(--cui-border-radius-byte);
  outline: none;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.dialog.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 480px) {
  .dialog {
    width: max-content;
    max-width: 90vw;
    max-height: 90vw;
  }
}

@media (max-width: 479px) {
  .dialog {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    visibility: visible;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
  }

  .dialog.show {
    transform: translateY(0%);
  }
}

/* Native Backdrop */
.dialog::backdrop {
  visibility: hidden;
  background-color: var(--cui-bg-overlay);
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.dialog.show::backdrop {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

/* Polyfill Backdrop */
.dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: var(--cui-bg-overlay);
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.backdrop.backdrop-visible {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: var(--cui-spacings-byte);
  right: var(--cui-spacings-byte);
  z-index: var(--cui-z-index-absolute);
}

@media (max-width: 479px) {
  .immersive {
    height: 100%;
    max-height: unset;
    border-radius: unset;
  }
}

/* Content */

.content {
  overflow-y: auto;
  background-color: var(--cui-bg-elevated);
  border: 1px solid var(--cui-border-subtle);
  border-radius: var(--cui-border-radius-byte);
}

@media (max-width: 479px) {
  .content {
    height: 100%;
    padding: var(--cui-spacings-mega);
    padding-bottom: calc(
      env(safe-area-inset-bottom) + var(--cui-spacings-mega)
    );
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 480px) {
  .content {
    min-width: 480px;
    max-width: 90vw;
    max-height: 90vh;
    padding: var(--cui-spacings-giga);
    padding-bottom: calc(
      env(safe-area-inset-bottom) + var(--cui-spacings-giga)
    );
  }
}
