.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: auto;
  overflow: scroll;
  pointer-events: none;
  visibility: hidden;
  border: none;
  border-radius: var(--cui-border-radius-mega);
  outline: none;
  opacity: 0;
  transition:
    opacity var(--cui-transitions-slow),
    visibility var(--cui-transitions-slow);
}

.dialog.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.dialog::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-elevated) 0%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 66%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 100%, transparent)
  );
}

@media (min-width: 480px) {
  .dialog .content {
    width: min-content;
    min-width: 480px;
    max-width: 90vw;
    max-height: 90vh;
  }

  .dialog::after {
    height: var(--cui-spacings-giga);
    border-bottom-right-radius: var(--cui-border-radius-mega);
    border-bottom-left-radius: var(--cui-border-radius-mega);
  }
}

@media (max-width: 479px) {
  .dialog {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    visibility: hidden;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 0;
    transition: transform var(--cui-transitions-slow);
    transform: translateY(100%);
  }

  .dialog.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Native Backdrop */
.dialog::backdrop {
  visibility: hidden;
  background-color: var(--cui-bg-overlay);
  opacity: 0;
  transition:
    opacity var(--cui-transitions-slow),
    visibility var(--cui-transitions-slow);
}

.dialog.show::backdrop {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

/* Polyfill Backdrop */
.dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: var(--cui-bg-overlay);
  opacity: 0;
  transition:
    opacity var(--cui-transitions-slow),
    visibility var(--cui-transitions-slow);
}

.backdrop.backdrop-visible {
  visibility: visible;
  opacity: 1;
}

.dialog .close {
  position: absolute;
  top: var(--cui-spacings-byte);
  right: var(--cui-spacings-byte);
  z-index: var(--cui-z-index-absolute);
}

@media (max-width: 479px) {
  .immersive {
    height: 100%;
    max-height: unset;
    border-radius: unset;
  }

  .immersive .content {
    border: none;
    border-radius: unset;
  }
}

/* Content */

.content {
  overflow-y: auto;
  background-color: var(--cui-bg-elevated);
}

@media (max-width: 479px) {
  .content {
    width: 100%;
    height: 100%;
    padding: var(--cui-spacings-mega);
    padding-bottom: calc(
      env(safe-area-inset-bottom) + var(--cui-spacings-mega)
    );
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 480px) {
  .content {
    padding: var(--cui-spacings-giga);
    padding-bottom: calc(
      env(safe-area-inset-bottom) + var(--cui-spacings-giga)
    );
  }
}
