.base {
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--cui-border-divider);
  margin-top: var(--cui_internal-spacings-mega);
  margin-bottom: var(--cui_internal-spacings-mega);
}
