.base {
  justify-content: center;
  padding: var(--cui-spacings-mega);
  padding-left: 0;
  text-align: left;
  border-bottom: 1px solid var(--cui-border-divider);
}

.title {
  display: flex;
  gap: var(--cui-spacings-byte);
  align-items: center;
  justify-content: start;
}

.description {
  margin-top: var(--cui-spacings-bit);
  text-align: start;
}

@media (min-width: 768px) {
  .name {
    font-size: var(--cui-compact-m-font-size);
    line-height: var(--cui-compact-m-line-height);
  }
}
