.label {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  color: var(--cui-fg-normal);
  cursor: pointer;
}

.label::before {
  position: absolute;
  top: calc(var(--cui-body-m-line-height) / 2);
  left: 0;
  box-sizing: border-box;
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  background-color: var(--cui-bg-normal);
  border: 1px solid var(--cui-border-normal);
  border-radius: 100%;
  box-shadow: none;
  transition:
    border var(--cui-transitions-default),
    background-color var(--cui-transitions-default);
  transform: translateY(-50%);
}

.label::after {
  position: absolute;
  top: calc(var(--cui-body-m-line-height) / 2);
  left: var(--cui-spacings-bit);
  box-sizing: border-box;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: var(--cui-fg-accent);
  border-radius: 100%;
  opacity: 0;
  transition:
    transform var(--cui-transitions-default),
    opacity var(--cui-transitions-default);
  transform: translateY(-50%) scale(0, 0);
}

.base:hover + label::before {
  border-color: var(--cui-border-normal-hovered);
}

.base:focus + label::before {
  border-color: var(--cui-border-accent);
  outline: 0;
  box-shadow:
    0 0 0 2px var(--cui-bg-normal),
    0 0 0 4px var(--cui-border-focus);
}

.base:focus:not(:focus-visible) + label::before {
  border-color: var(--cui-border-normal);
  box-shadow: none;
}

.base:checked:focus:not(:focus-visible) + label::before {
  border-color: var(--cui-border-accent);
}

.base:checked + label::before {
  border-color: var(--cui-border-accent);
}

.base:checked + label::after {
  opacity: 1;
  transform: translateY(-50%) scale(1, 1);
}

.base:disabled + label,
.base[disabled] + label {
  color: var(--cui-fg-normal-disabled);
  pointer-events: none;
}

.base:disabled + label::before,
.base[disabled] + label::before {
  background-color: var(--cui-bg-normal-disabled);
  border-color: var(--cui-border-normal-disabled);
}

.base:disabled + label::after,
.base[disabled] + label::after {
  background-color: var(--cui-fg-on-strong-disabled);
}

.base:disabled:checked + label::before,
.base[disabled]:checked + label::before {
  border-color: var(--cui-border-accent-disabled);
}

.base:disabled:checked + label::after,
.base[disabled]:checked + label::after {
  background-color: var(--cui-fg-accent-disabled);
}

/* Invalid */

[aria-invalid="true"] .base:not(:focus) + .label::before {
  background-color: var(--cui-bg-danger);
  border-color: var(--cui-border-danger);
}

[aria-invalid="true"] .base:not(:focus) + .label::after {
  background-color: var(--cui-fg-danger);
}

[aria-invalid="true"] .base:hover + .label::before,
[aria-invalid="true"] .base:focus + .label::before {
  border-color: var(--cui-border-danger-hovered);
}

[aria-invalid="true"] .base:checked + .label::before {
  border-color: var(--cui-border-danger);
}
