.track {
  --toggle-track-width: 40px;
  --toggle-track-height: 24px;
  --toggle-knob-size: 16px;
  --toggle-animation-timing: var(--cui-transitions-default);

  position: relative;
  flex: 0 0 var(--toggle-track-width);
  width: var(--toggle-track-width);
  height: var(--toggle-track-height);
  padding: 0;
  margin: 0;
  overflow: visible;
  appearance: none;
  cursor: pointer;
  background-color: var(--cui-bg-highlight);
  border: 0;
  border-radius: var(--toggle-track-height);
  outline: 0;
  transition: background-color var(--toggle-animation-timing);
}

.track:hover {
  background-color: var(--cui-bg-highlight-hovered);
}

.track:active {
  background-color: var(--cui-bg-highlight-pressed);
}

.track[aria-checked='true'] {
  background-color: var(--cui-bg-accent-strong);
}

.track[aria-checked='true']:hover {
  background-color: var(--cui-bg-accent-strong-hovered);
}

.track[aria-checked='true']:active {
  background-color: var(--cui-bg-accent-strong-pressed);
}

.track:disabled,
.track[disabled] {
  background-color: var(--cui-bg-highlight-disabled);
}

.track[aria-checked='true']:disabled,
.track[aria-checked='true'][disabled] {
  background-color: var(--cui-bg-accent-strong-disabled);
}

.knob {
  position: absolute;
  top: 50%;
  display: block;
  width: var(--toggle-knob-size);
  height: var(--toggle-knob-size);
  background-color: var(--cui-fg-on-strong);
  border-radius: var(--toggle-knob-size);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  transition: box-shadow var(--toggle-animation-timing),
    transform var(--toggle-animation-timing);
  transform: translate3d(var(--cui-spacings-bit), -50%, 0);
}

[aria-checked='true'] .knob {
  transform: translate3d(
    calc(
      var(--toggle-track-width) - var(--toggle-knob-size) -
      var(--cui-spacings-bit)
    ),
    -50%,
    0
  );
}

[disabled] .knob,
[data-disabled='true'] .knob {
  background-color: var(--cui-fg-on-strong-disabled);
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 479px) {
  .wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.label {
  display: block;
  margin-left: var(--cui-spacings-kilo);
  font-size: var(--cui-typography-body-one-font-size);
  font-weight: var(--cui-font-weight-regular);
  line-height: var(--cui-typography-body-one-line-height);
  cursor: pointer;
}

@media (max-width: 479px) {
  .label {
    margin-right: var(--cui-spacings-kilo);
    margin-left: 0;
  }
}

[data-disabled='true'] .label {
  color: var(--cui-fg-normal-disabled);
}
