.container {
  width: 100%;
  container: cui-button-group / inline-size;
}

.base {
  display: flex;
  flex-direction: column;
  gap: var(--cui-spacings-kilo);
  align-items: center;
}

@container cui-button-group (width > 370px) {
  .base {
    flex-direction: row-reverse;
  }

  .s {
    gap: var(--cui-spacings-kilo);
  }

  .m {
    gap: var(--cui-spacings-mega);
  }

  .left {
    justify-content: flex-end;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-start;
  }
}
