.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-list .button {
  margin-left: var(--cui-spacings-byte);
}

.button-list .button:first-of-type {
  margin-left: 0;
}
