.base {
  position: sticky;
  top: 0;
  z-index: var(--cui-z-index-header);
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--cui-spacings-zetta);
  background-color: var(--cui-bg-elevated);
}

.sticky {
  box-shadow: inset 0 calc(-1 * var(--cui-border-width-kilo)) 0
    var(--cui-border-divider);
}

@media (min-width: 768px) {
  .sticky {
    box-shadow: inset 0 calc(-1 * var(--cui-border-width-kilo)) 0
      var(--cui-border-divider);
  }
}

.base .button {
  position: absolute;
  right: 0;
  flex: none;
  margin: var(--cui-spacings-bit);
}

.headline {
  flex: 1 1 auto;
  padding: var(--cui-spacings-mega) 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

button + .headline {
  margin-left: 0;
}
