.input input {
  padding-right: var(--cui-spacings-exa);
}

.dialog {
  z-index: var(--cui-z-index-popover);
  max-height: min(500px, var(--suggestion-box-max-height));
  padding: var(--cui-spacings-mega);
  margin: 0;
  background-color: var(--cui-bg-normal);
  border-radius: var(--cui-border-radius-byte);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cui-spacings-mega);
}
