.input {
  padding-right: var(--cui-spacings-exa);
}

.popup {
  z-index: var(--cui-z-index-popover);
  max-height: min(400px, var(--suggestion-box-max-height));
  margin: 0;
  overflow-y: auto;
  background-color: var(--cui-bg-normal);
  border-radius: var(--cui-border-radius-byte);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
}

.popup::after {
  position: absolute;
  right: 0;
  bottom: env(safe-area-inset-bottom);
  left: 0;
  display: block;
  height: var(--cui-spacings-mega);
  pointer-events: none;
  content: "";
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-normal) 0%, transparent),
    color-mix(in sRGB, var(--cui-bg-normal) 66%, transparent),
    color-mix(in sRGB, var(--cui-bg-normal) 100%, transparent)
  );
  border-radius: inherit;
}

.modal {
  height: 90dvh;
}

.modal > button {
  display: none;
}

.modal-header {
  display: flex;
  gap: var(--cui-spacings-byte);
  align-items: flex-start;
}

.no-results,
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--cui-spacings-mega);
}

.loading {
  gap: var(--cui-spacings-byte);
}

.action {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--cui-spacings-mega);
  background: var(--cui-bg-normal);
  border-top: 1px solid var(--cui-border-normal);
}

.action::before {
  position: absolute;
  top: calc(
    -1 * var(--cui-spacings-mega) - 1px
  ); /* -1px accounts for the border-top of the action */

  right: 0;
  left: 0;
  display: block;
  height: var(--cui-spacings-mega);
  pointer-events: none;
  content: "";
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-normal) 0%, transparent),
    color-mix(in sRGB, var(--cui-bg-normal) 66%, transparent),
    color-mix(in sRGB, var(--cui-bg-normal) 100%, transparent)
  );
  border-radius: inherit;
}

@media (max-width: 767px) {
  .input:focus {
    animation: blink-input-opacity-to-prevent-scrolling-when-focus 0.01s;
  }
}

@keyframes blink-input-opacity-to-prevent-scrolling-when-focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
