/* Start downloading custom fonts as soon as possible */
@font-face {
  font-family: aktiv-grotesk;
  font-weight: 400;
  src: url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-400.woff2')
      format('woff2'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-400.woff')
      format('woff'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-400.eot')
      format('embedded-opentype');
  font-display: optional;
}

@font-face {
  font-family: aktiv-grotesk;
  font-weight: 700;
  src: url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-700.woff2')
      format('woff2'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-700.woff')
      format('woff'),
    url('https://static.sumup.com/fonts/latin-greek-cyrillic/aktiv-grotest-700.eot')
      format('embedded-opentype');
  font-display: optional;
}

/**
 * Our global resets
 */

/**
 * Best practice from http://callmenick.com/post/the-new-box-sizing-reset
 * TL;DR: It’s easier to override and a slight performance boost.
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;

  [type='button'] {
    appearance: none;
  }
}

body {
  font-size: var(--cui-typography-body-one-font-size);
  line-height: var(--cui-typography-body-one-line-height);
  color: var(--cui-fg-normal);
  background-color: var(--cui-bg-normal);
}

/**
 * Form elements don't inherit font settings.
 * https://stackoverflow.com/questions/26140050/ why-is-font-family-not-inherited-in-button-tags-automatically
 */
html,
body,
input,
select,
optgroup,
textarea,
button {
  font-family: var(--cui-font-stack-default);
  font-weight: var(--cui-font-weight-regular);
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

pre,
code {
  font-family: var(--cui-font-stack-mono);
}
