.base {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  color: var(--cui-fg-accent);
  text-align: left;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  outline: none;
  background: none;
  border: 0;
  border-radius: var(--cui-border-radius-bit);
  transition:
    opacity var(--cui-transitions-default),
    color var(--cui-transitions-default),
    background-color var(--cui-transitions-default),
    border-color var(--cui-transitions-default);
}

.base:hover {
  color: var(--cui-fg-accent-hovered);
  cursor: pointer;
}

.base:active {
  color: var(--cui-fg-accent-pressed);
}
