.base {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.main {
  max-width: 1000px;
  margin: var(--cui-spacings-tera);
}

.footer {
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: center;
  margin: var(--cui-spacings-tera);
}

.logo {
  display: block;
  width: 120px;
  color: var(--cui-fg-normal);
}
