.base {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - var(--cui-spacings-peta) * 2);
  min-width: unset;
  max-width: 420px;
  text-align: center;
}

.base > div {
  padding: var(--cui-spacings-giga);
}

.base::after {
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-elevated) 0%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 66%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 100%, transparent)
  );
}

@media (max-width: 479px) {
  .base {
    -webkit-overflow-scrolling: touch;
    border-radius: var(--cui-border-radius-mega);
  }
}

/* Child elements */

.base .image {
  max-width: 232px;
  height: 120px;
  margin: 0 auto var(--cui-spacings-giga);
  object-fit: contain;
}

.base .image svg {
  width: 100%;
  height: 100%;
}

/* Prevent the headline from being overlapped by the close button */
.base .headline {
  max-width: 80%;
  margin-right: auto;
  margin-bottom: var(--cui-spacings-byte);
  margin-left: auto;
}

.base .image + .headline {
  max-width: 100%;
}

.base .buttons {
  margin-top: var(--cui-spacings-giga);
}
