.base {
  font-variant-numeric: tabular-nums;
}

/* Sizes */

.l {
  font-size: var(--cui-numeral-l-font-size);
  line-height: var(--cui-numeral-l-line-height);
  letter-spacing: var(--cui-letter-spacing);
}

.m {
  font-size: var(--cui-numeral-m-font-size);
  line-height: var(--cui-numeral-m-line-height);
  letter-spacing: var(--cui-letter-spacing);
}

.s {
  font-size: var(--cui-numeral-s-font-size);
  line-height: var(--cui-numeral-s-line-height);
  letter-spacing: var(--cui-letter-spacing);
}

/* Weights */

.regular {
  font-weight: var(--cui-font-weight-regular);
}

.bold {
  font-weight: var(--cui-font-weight-bold);
}

/* Colors */

.normal {
  color: var(--cui-fg-normal);
}

.subtle {
  color: var(--cui-fg-subtle);
}

.placeholder {
  color: var(--cui-fg-placeholder);
}

.on-strong {
  color: var(--cui-fg-on-strong);
}

.on-strong-subtle {
  color: var(--cui-fg-on-strong-subtle);
}

.accent {
  color: var(--cui-fg-accent);
}

.success {
  color: var(--cui-fg-success);
}

.warning {
  color: var(--cui-fg-warning);
}

.danger {
  color: var(--cui-fg-danger);
}

.promo {
  color: var(--cui-fg-promo);
}
