.base {
  color: var(--cui-fg-normal);
}

/* Sizes */

.l {
  font-size: var(--cui-typography-compact-l-font-size);
  line-height: var(--cui-typography-compact-l-line-height);
  letter-spacing: var(--cui-typography-compact-l-letter-spacing);
}

.m {
  font-size: var(--cui-typography-compact-m-font-size);
  line-height: var(--cui-typography-compact-m-line-height);
  letter-spacing: var(--cui-typography-compact-m-letter-spacing);
}

.s {
  font-size: var(--cui-typography-compact-s-font-size);
  line-height: var(--cui-typography-compact-s-line-height);
  letter-spacing: var(--cui-typography-compact-s-letter-spacing);
}

/* Weights */

.regular {
  font-weight: var(--cui-font-weight-regular);
}

.bold {
  font-weight: var(--cui-font-weight-bold);
}
