.col {
  height: 48px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.col:nth-of-type(n) {
  background-color: var(--cui-bg-highlight);
}

.col:nth-of-type(2n) {
  background-color: var(--cui-bg-subtle);
}

.row {
  margin-bottom: 8px;
  border: 1px solid magenta;
}
