.base {
  width: max-content;
  max-width: 360px;
  max-width: min(360px, 100vw);
  overflow: visible;
}

@media (min-width: 480px) {
  .base {
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);
  }
}

.base::after {
  visibility: hidden;
}

.content {
  color: var(--cui-fg-normal);
  background-color: var(--cui-bg-elevated);
  outline: 0;
}

@media (max-width: 479px) {
  .content {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.headline {
  padding-right: var(--cui-spacings-peta);
  margin-bottom: var(--cui-spacings-bit);
}

.body {
  padding-right: var(--cui-spacings-peta);
}

.action {
  margin-top: var(--cui-spacings-kilo);
}

.close {
  position: absolute;
  top: var(--cui-spacings-mega);
  right: var(--cui-spacings-mega);
}
