@import './../shared';

.btn {
  border: 1px solid;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-l;
  font-weight: 500;
  line-height: $line-height-s;
  overflow: hidden;
  padding: 11px $spacing-xl;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition:
    color .2s cubic-bezier(.4, 0, .2, 1),
    background-color .2s cubic-bezier(.4, 0, .2, 1);
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $color-brand-darker;
  }

  &[disabled],
  &.btn--disabled {
    cursor: default;
    opacity: .4;
    pointer-events: none;
  }

  // TODO: remove the highlight modifier as we're
  //       going to stick with cta as terminology.
  &#{&}--cta,
  &#{&}--highlight {
    background-color: $color-highlight;
    border-color: $color-highlight;
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-highlight-darker;
      border-color: $color-highlight-darker;

      &[disabled],
      &.btn--disabled {
        background-color: $color-highlight;
        border-color: $color-highlight;
      }
    }
  }

  // TODO: remove the outline modifier as we're
  //       going to stick with secondary as terminology.
  &#{&}--secondary,
  &#{&}--outline {
    background-color: transparent;
    border-color: $color-highlight;
    color: $color-highlight;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-highlight-darker;
      color: $color-highlight-darker;

      &[disabled],
      &.btn--disabled {
        border-color: $color-highlight;
        color: $color-highlight;
      }
    }
  }

  // TODO: remove the outline-dark modifier as we're going
  //       to strick with secondary as terminology.
  &#{&}--secondary-dark,
  &#{&}--outline-dark {
    background-color: transparent;
    border: 1px solid $color-dark;
    color: $color-dark;

    &:hover {
      background-color: $color-dark;
      color: $color-white;
    }
  }

  &#{&}--secondary-white,
  &#{&}--outline-white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $color-error;
    }
  }

  // TODO: clarify if this will stay. Currently it's
  //       only used by the transaction filters on
  //       mobile.
  &#{&}--grey {
    background-color: $color-light;
    border-color: $color-light;
    color: $color-dark;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color-light, 5%);
      border-color: darken($color-light, 5%);

      &[disabled],
      &.btn--disabled {
        background-color: $color-light;
        border-color: $color-light;
      }
    }
  }

  &#{&}--warning {
    background-color: darken($color-warning, 5%);
    border-color: darken($color-warning, 5%);
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color-warning, 5%);
      border-color: darken($color-warning, 5%);
    }
  }

  &#{&}--alert {
    background-color: $color-error;
    border-color: $color-error;
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-error;
      border-color: $color-error;
    }
  }

  &#{&}--s {
    font-size: $font-size-m;
    line-height: $line-height-s;
    padding: $spacing-xs $spacing-m;

    &.btn--loading .spinner {
      right: 9px;
      top: 10px;
    }
  }

  &--loading {
    padding-right: $spacing-xxl !important;
    transition: padding .2s ease-in-out;

    .spinner {
      display: inline-block;
      margin-left: $spacing-xs;
    }
  }
}

/* Text buttons */

.text-btn {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: $font-size-l;
  font-weight: 500;
  line-height: $line-height-s;
  padding: 0;

  &[disabled],
  &#{&}--disabled {
    cursor: default;
    pointer-events: none;
  }

  &#{&}--highlight {
    color: $color-highlight;

    &[disabled],
    &.btn--disabled {
      color: lighten($color-highlight, .2);
    }
  }

  &#{&}--brand {
    color: $color-brand;

    &[disabled],
    &.btn--disabled {
      color: lighten($color-brand, 20%);
    }
  }

  &#{&}--dark {
    color: $color-dark;

    &[disabled],
    &.btn--disabled {
      color: lighten($color-dark, 20%);
    }
  }

  &:focus {
    outline: none;
  }
}
