@import './../shared';

// TODO: design provided these weird numbers, but maybe we can clean them up?
.price {
  display: flex;
  font-size: $font-size-xxl;
  line-height: 20px;

  @include media($big-screens) {
    font-size: 30px;
    line-height: $line-height-m;
  }
}

.price--brand {
  color: $color-brand;
}

.price--highlight {
  color: $color-highlight;
}

.price--success {
  color: $color-success;
}

.price--warning {
  color: $color-warning;
}

.price--error {
  color: $color-error;
}

.amount {
  align-items: flex-start;
  display: flex;
}

.amount--prepended-space {
  margin-left: $spacing-xs / 2;
}

.amount--postpended-space {
  margin-right: $spacing-xs / 2;
}

.price__pre {
  display: inline-block;

  &.price__pre--installments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.price__small-text {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: $font-size-s;

  @include media($big-screens) {
    font-size: $font-size-s;
  }
}
