.trigger {
  display: inline-block;
}

.menu {
  padding: var(--cui-spacings-byte) 0;
  overflow-y: auto;
  background-color: var(--cui-bg-elevated);
  border: 1px solid var(--cui-border-subtle);
  border-radius: var(--cui-border-radius-byte);
}

.content {
  /* The arrow should be 8px tall. A square element is rotated to achieve a triangular shape. Using Pythagoras' theorem, we can calculate the ratio between the triangle height and the square sides: √(8^2 + 8^2) / 8 ≈ 1.414 */
  --tooltip-arrow-size: calc(var(--cui-spacings-byte) * 1.414);

  box-sizing: border-box;
  max-height: var(--popover-max-height);
  padding: 0;
  margin: 0;
  overflow: visible;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--cui-bg-elevated);
  border: none;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  opacity: 0;
}

.content.open {
  pointer-events: all;
  visibility: inherit;
  opacity: 1;
}

@media (min-width: 480px) {
  .content {
    padding: var(--cui-spacings-mega);
    border: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
    border-radius: var(--cui-border-radius-byte);
  }
}

.content.with-actions {
  padding: 0;
  border: none;
  border-radius: var(--cui-border-radius-byte);
}

.divider {
  margin: var(--cui-spacings-byte) auto;
}

@media (min-width: 480px) {
  .divider {
    width: calc(100% - var(--cui-spacings-mega) * 2);
  }
}

.content.open::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: var(--cui-spacings-kilo);
  margin: 0;
  content: "";
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-elevated) 0%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 66%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 100%, transparent)
  );
  border-bottom-right-radius: var(--cui-border-radius-byte);
  border-bottom-left-radius: var(--cui-border-radius-byte);
}

.arrow {
  position: absolute;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  background-color: var(--cui-bg-elevated);
  border-right: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
  border-bottom: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
  border-bottom-right-radius: 2px;
}

.content[data-side="top"] .arrow {
  top: calc(100% - (var(--tooltip-arrow-size) / 2));
  left: calc(50% - (var(--tooltip-arrow-size) / 2));
  margin-top: 1px;
  transform: rotate(45deg);
}

.content[data-side="right"] .arrow {
  right: calc(100% - (var(--tooltip-arrow-size) / 2));
  bottom: calc(50% - (var(--tooltip-arrow-size) / 2));
  margin-right: 1px;
  transform: rotate(135deg);
}

.content[data-side="bottom"] .arrow {
  bottom: calc(100% - (var(--tooltip-arrow-size) / 2));
  left: calc(50% - (var(--tooltip-arrow-size) / 2));
  margin-bottom: 1px;
  transform: rotate(225deg);
}

.content[data-side="left"] .arrow {
  bottom: calc(50% - (var(--tooltip-arrow-size) / 2));
  left: calc(100% - (var(--tooltip-arrow-size) / 2));
  margin-left: 1px;
  transform: rotate(315deg);
}

@media (max-width: 479px) {
  .arrow {
    display: none;
  }
}
