.base {
  box-sizing: border-box;
  float: left;
  padding-left: var(--cui-spacings-bit);
  padding-right: var(--cui-spacings-bit);
  width: calc(100% / 12);

  --skip-coef: 1;
}

.skip {
  position: relative;
}

.negative-skip {
  --skip-coef: -1;
}

/* default */
.span-1 {
  width: calc(100% / 12);
}

.span-2 {
  width: calc(100% / 6);
}

.span-3 {
  width: calc(100% / 4);
}

.span-4 {
  width: calc(100% / 3);
}

.span-5 {
  width: calc(100% * ( 5 / 12));
}

.span-6 {
  width: calc(100% / 2);
}

.span-7 {
  width: calc(100% * (7 / 12));
}

.span-8 {
  width: calc(100% * (2 / 3));
}

.span-9 {
  width: calc(100% * (3 / 4));
}

.span-10 {
  width: calc(100% * (5 / 6));
}

.span-11 {
  width: calc(100% * (11 / 12));
}

.span-12 {
  width: 100%
}

/* Skip */

.skip-1 {
  left: calc(var(--skip-coef) * 100% / 12);
}

.skip-2 {
  left: calc(var(--skip-coef) * 100% / 6);
}

.skip-3 {
  left: calc(var(--skip-coef) * 100% / 4);
}

.skip-4 {
  left: calc(var(--skip-coef) * 100% / 3);
}

.skip-5 {
  left: calc(var(--skip-coef) * 100% * ( 5 / 12));
}

.skip-6 {
  left: calc(var(--skip-coef) * 100% / 2);
}

.skip-7 {
  left: calc(var(--skip-coef) * 100% * (7 / 12));
}

.skip-8 {
  left: calc(var(--skip-coef) * 100% * (2 / 3));
}

.skip-9 {
  left: calc(var(--skip-coef) * 100% * (3 / 4));
}

.skip-10 {
  left: calc(var(--skip-coef) * 100% * (5 / 6));
}

.skip-11 {
  left: calc(var(--skip-coef) * 100% * (11 / 12));
}

.skip-12 {
  left: calc(var(--skip-coef) *100%);
}

/* Until Kilo */
@media (max-width: 479px) {
  .base {
    --skip-coef-until-kilo: 1;

    padding-left: var(--cui-spacings-bit);
    padding-right: var(--cui-spacings-bit);
  }

  .span-until-kilo-1 {
    width: calc(100% / 12);
  }

  .span-until-kilo-2 {
    width: calc(100% / 6);
  }

  .span-until-kilo-3 {
    width: calc(100% / 4);
  }

  .span-until-kilo-4 {
    width: calc(100% / 3);
  }

  .span-until-kilo-5 {
    width: calc(100% * ( 5 / 12));
  }

  .span-until-kilo-6 {
    width: calc(100% / 2);
  }

  .span-until-kilo-7 {
    width: calc(100% * (7 / 12));
  }

  .span-until-kilo-8 {
    width: calc(100% * (2 / 3));
  }

  .span-until-kilo-9 {
    width: calc(100% * (3 / 4));
  }

  .span-until-kilo-10 {
    width: calc(100% * (5 / 6));
  }

  .span-until-kilo-11 {
    width: calc(100% * (11 / 12));
  }

  .span-until-kilo-12 {
    width: 100%
  }


  .negative-skip-kilo {
    --skip-coef-until-kilo: -1;
  }

  .skip-until-kilo-1 {
    left: calc(var(--skip-coef-until-kilo) * 100% / 12);
  }

  .skip-until-kilo-2 {
    left: calc(var(--skip-coef-until-kilo) * 100% / 6);
  }

  .skip-until-kilo-3 {
    left: calc(var(--skip-coef-until-kilo) * 100% / 4);
  }

  .skip-until-kilo-4 {
    left: calc(var(--skip-coef-until-kilo) * 100% / 3);
  }

  .skip-until-kilo-5 {
    left: calc(var(--skip-coef-until-kilo) * 100% * ( 5 / 12));
  }

  .skip-until-kilo-6 {
    left: calc(var(--skip-coef-until-kilo) * 100% / 2);
  }

  .skip-until-kilo-7 {
    left: calc(var(--skip-coef-until-kilo) * 100% * (7 / 12));
  }

  .skip-until-kilo-8 {
    left: calc(var(--skip-coef-until-kilo) * 100% * (2 / 3));
  }

  .skip-until-kilo-9 {
    left: calc(var(--skip-coef-until-kilo) * 100% * (3 / 4));
  }

  .skip-until-kilo-10 {
    left: calc(var(--skip-coef-until-kilo) * 100% * (5 / 6));
  }

  .skip-until-kilo-11 {
    left: calc(var(--skip-coef-until-kilo) * 100% * (11 / 12));
  }

  .skip-until-kilo-12 {
    left: calc(var(--skip-coef-until-kilo) * 100%);
  }


}

/* Kilo */
@media (min-width: 480px) {
  .base {
    --skip-coef-kilo: 1;

    padding-left: var(--cui-spacings-byte);
  padding-right: var(--cui-spacings-byte)
  }

  .span-kilo-1 {
    width: calc(100% / 12);
  }

  .span-kilo-2 {
    width: calc(100% / 6);
  }

  .span-kilo-3 {
    width: calc(100% / 4);
  }

  .span-kilo-4 {
    width: calc(100% / 3);
  }

  .span-kilo-5 {
    width: calc(100% * ( 5 / 12));
  }

  .span-kilo-6 {
    width: calc(100% / 2);
  }

  .span-kilo-7 {
    width: calc(100% * (7 / 12));
  }

  .span-kilo-8 {
    width: calc(100% * (2 / 3));
  }

  .span-kilo-9 {
    width: calc(100% * (3 / 4));
  }

  .span-kilo-10 {
    width: calc(100% * (5 / 6));
  }

  .span-kilo-11 {
    width: calc(100% * (11 / 12));
  }

  .span-kilo-12 {
    width: 100%
  }

  .negative-skip-kilo {
    --skip-coef-kilo: -1;
  }

  .skip-kilo-1 {
    left: calc(var(--skip-coef-kilo) * 100% / 12);
  }

  .skip-kilo-2 {
    left: calc(var(--skip-coef-kilo) * 100% / 6);
  }

  .skip-kilo-3 {
    left: calc(var(--skip-coef-kilo) * 100% / 4);
  }

  .skip-kilo-4 {
    left: calc(var(--skip-coef-kilo) * 100% / 3);
  }

  .skip-kilo-5 {
    left: calc(var(--skip-coef-kilo) * 100% * ( 5 / 12));
  }

  .skip-kilo-6 {
    left: calc(var(--skip-coef-kilo) * 100% / 2);
  }

  .skip-kilo-7 {
    left: calc(var(--skip-coef-kilo) * 100% * (7 / 12));
  }

  .skip-kilo-8 {
    left: calc(var(--skip-coef-kilo) * 100% * (2 / 3));
  }

  .skip-kilo-9 {
    left: calc(var(--skip-coef-kilo) * 100% * (3 / 4));
  }

  .skip-kilo-10 {
    left: calc(var(--skip-coef-kilo) * 100% * (5 / 6));
  }

  .skip-kilo-11 {
    left: calc(var(--skip-coef-kilo) * 100% * (11 / 12));
  }

  .skip-kilo-12 {
    left: calc(var(--skip-coef-kilo) * 100%);
  }


}

/* Mega */
@media (min-width: 768px) {
  .base {
    --skip-coef-mega: 1;

    padding-left: var(--cui-spacings-kilo);
  padding-right: var(--cui-spacings-kilo);
  }

  .span-mega-1 {
    width: calc(100% / 12);
  }

  .span-mega-2 {
    width: calc(100% / 6);
  }

  .span-mega-3 {
    width: calc(100% / 4);
  }

  .span-mega-4 {
    width: calc(100% / 3);
  }

  .span-mega-5 {
    width: calc(100% * ( 5 / 12));
  }

  .span-mega-6 {
    width: calc(100% / 2);
  }

  .span-mega-7 {
    width: calc(100% * (7 / 12));
  }

  .span-mega-8 {
    width: calc(100% * (2 / 3));
  }

  .span-mega-9 {
    width: calc(100% * (3 / 4));
  }

  .span-mega-10 {
    width: calc(100% * (5 / 6));
  }

  .span-mega-11 {
    width: calc(100% * (11 / 12));
  }

  .span-mega-12 {
    width: 100%
  }


  .negative-skip-mega {
    --skip-coef-mega: -1;
  }

  .skip-mega-1 {
    left: calc(var(--skip-coef-mega) * 100% / 12);
  }

  .skip-mega-2 {
    left: calc(var(--skip-coef-mega) * 100% / 6);
  }

  .skip-mega-3 {
    left: calc(var(--skip-coef-mega) * 100% / 4);
  }

  .skip-mega-4 {
    left: calc(var(--skip-coef-mega) * 100% / 3);
  }

  .skip-mega-5 {
    left: calc(var(--skip-coef-mega) * 100% * ( 5 / 12));
  }

  .skip-mega-6 {
    left: calc(var(--skip-coef-mega) * 100% / 2);
  }

  .skip-mega-7 {
    left: calc(var(--skip-coef-mega) * 100% * (7 / 12));
  }

  .skip-mega-8 {
    left: calc(var(--skip-coef-mega) * 100% * (2 / 3));
  }

  .skip-mega-9 {
    left: calc(var(--skip-coef-mega) * 100% * (3 / 4));
  }

  .skip-mega-10 {
    left: calc(var(--skip-coef-mega) * 100% * (5 / 6));
  }

  .skip-mega-11 {
    left: calc(var(--skip-coef-mega) * 100% * (11 / 12));
  }

  .skip-mega-12 {
    left: calc(var(--skip-coef-mega) * 100%);
  }
}

/* Giga */
@media (min-width: 960px) {
  .base {
    --skip-coef-giga: 1;
  }

  .span-giga-1 {
    width: calc(100% / 12);
  }

  .span-giga-2 {
    width: calc(100% / 6);
  }

  .span-giga-3 {
    width: calc(100% / 4);
  }

  .span-giga-4 {
    width: calc(100% / 3);
  }

  .span-giga-5 {
    width: calc(100% * ( 5 / 12));
  }

  .span-giga-6 {
    width: calc(100% / 2);
  }

  .span-giga-7 {
    width: calc(100% * (7 / 12));
  }

  .span-giga-8 {
    width: calc(100% * (2 / 3));
  }

  .span-giga-9 {
    width: calc(100% * (3 / 4));
  }

  .span-giga-10 {
    width: calc(100% * (5 / 6));
  }

  .span-giga-11 {
    width: calc(100% * (11 / 12));
  }

  .span-giga-12 {
    width: 100%
  }


  .negative-skip-giga {
    --skip-coef-giga: -1;
  }


  .skip-giga-1 {
    left: calc(var(--skip-coef-giga) * 100% / 12);
  }

  .skip-giga-2 {
    left: calc(var(--skip-coef-giga) * 100% / 6);
  }

  .skip-giga-3 {
    left: calc(var(--skip-coef-giga) * 100% / 4);
  }

  .skip-giga-4 {
    left: calc(var(--skip-coef-giga) * 100% / 3);
  }

  .skip-giga-5 {
    left: calc(var(--skip-coef-giga) * 100% * ( 5 / 12));
  }

  .skip-giga-6 {
    left: calc(var(--skip-coef-giga) * 100% / 2);
  }

  .skip-giga-7 {
    left: calc(var(--skip-coef-giga) * 100% * (7 / 12));
  }

  .skip-giga-8 {
    left: calc(var(--skip-coef-giga) * 100% * (2 / 3));
  }

  .skip-giga-9 {
    left: calc(var(--skip-coef-giga) * 100% * (3 / 4));
  }

  .skip-giga-10 {
    left: calc(var(--skip-coef-giga) * 100% * (5 / 6));
  }

  .skip-giga-11 {
    left: calc(var(--skip-coef-giga) * 100% * (11 / 12));
  }

  .skip-giga-12 {
    left: calc(var(--skip-coef-giga) * 100%);
  }
}

/* Tera */
@media (min-width: 1280px) {
  .base {
    --skip-coef-tera: 1;
  }

  .span-tera-1 {
    width: calc(100% / 12);
  }

  .span-tera-2 {
    width: calc(100% / 6);
  }

  .span-tera-3 {
    width: calc(100% / 4);
  }

  .span-tera-4 {
    width: calc(100% / 3);
  }

  .span-tera-5 {
    width: calc(100% * ( 5 / 12));
  }

  .span-tera-6 {
    width: calc(100% / 2);
  }

  .span-tera-7 {
    width: calc(100% * (7 / 12));
  }

  .span-tera-8 {
    width: calc(100% * (2 / 3));
  }

  .span-tera-9 {
    width: calc(100% * (3 / 4));
  }

  .span-tera-10 {
    width: calc(100% * (5 / 6));
  }

  .span-tera-11 {
    width: calc(100% * (11 / 12));
  }

  .span-tera-12 {
    width: 100%
  }


  .negative-skip-tera {
    --skip-coef-tera: -1;
  }

  .skip-tera-1 {
    left: calc(var(--skip-coef) * 100% / 12);
  }

  .skip-tera-2 {
    left: calc(var(--skip-coef-tera) * 100% / 6);
  }

  .skip-tera-3 {
    left: calc(var(--skip-coef-tera) * 100% / 4);
  }

  .skip-tera-4 {
    left: calc(var(--skip-coef-tera) * 100% / 3);
  }

  .skip-tera-5 {
    left: calc(var(--skip-coef-tera) * 100% * ( 5 / 12));
  }

  .skip-tera-6 {
    left: calc(var(--skip-coef-tera) * 100% / 2);
  }

  .skip-tera-7 {
    left: calc(var(--skip-coef-tera) * 100% * (7 / 12));
  }

  .skip-tera-8 {
    left: calc(var(--skip-coef-tera) * 100% * (2 / 3));
  }

  .skip-tera-9 {
    left: calc(var(--skip-coef-tera) * 100% * (3 / 4));
  }

  .skip-tera-10 {
    left: calc(var(--skip-coef-tera) * 100% * (5 / 6));
  }

  .skip-tera-11 {
    left: calc(var(--skip-coef-tera) * 100% * (11 / 12));
  }

  .skip-tera-12 {
    left: calc(var(--skip-coef-tera) * 100%)
  }
}
