.base {
  box-sizing: border-box;
  float: left;
  padding-left: var(--cui-spacings-bit);
  padding-right: var(--cui-spacings-bit);
  width: calc(100% * var(--span) / 12);
  left: calc(100% * var(--skip, 0) / 12);
}

.skip {
  position: relative;
}

/* Until Kilo */
@media (max-width: 479px) {
  .base {
    width: calc(100% * var(--span-until-kilo, var(--span)) / 12);
  left: calc( 100% * var(--skip-until-kilo, var(--skip)) / 12);
  }
}

/* Kilo */
@media (min-width: 480px) {
  .base {
    padding-left: var(--cui-spacings-byte);
    padding-right: var(--cui-spacings-byte);
    width: calc(100% * var(--span-kilo, var(--span)) / 12);
  left: calc( 100% * var(--skip-kilo, var(--skip)) / 12);
  }
}

/* Giga */
@media (min-width: 768px) {
  .base {
    padding-left: var(--cui-spacings-kilo);
    padding-right: var(--cui-spacings-kilo);
    width: calc(100% * var(--span-giga, var(--span)) / 12);
  left: calc( 100% * var(--skip-giga, var(--skip)) / 12);
  }
}

/* Mega */
@media (min-width: 960px) {
  .base {
    width: calc(100% * var(--span-mega, var(--span)) / 12);
    left: calc( 100% * var(--skip-mega, var(--skip)) / 12);
  }
}

/* Tera */
@media (min-width: 1280px) {
  .base {
    width: calc(100% * var(--span-tera, var(--span)) / 12);
    left: calc( 100% * var(--skip-tera, var(--skip)) / 12);
  }
}
