.base {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: var(--cui-spacings-kilo) 0;
  font-size: var(--cui-body-s-font-size);
  font-weight: var(--cui-font-weight-semibold);
  line-height: var(--cui-body-s-line-height);
  color: var(--cui-fg-subtle);
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: var(--cui-bg-normal);
  border: none;
  border-radius: var(--cui-border-radius-bit);
  transition: color var(--cui-transitions-default);
}

.base:hover {
  color: var(--cui-fg-normal-hovered);
}

.base:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--cui-border-focus);
}

.base:focus::-moz-focus-inner {
  border: 0;
}

.base:focus:not(:focus-visible) {
  box-shadow: none;
}

.base:active {
  color: var(--cui-fg-normal);
}

.base[aria-selected="true"] {
  position: relative;
  font-weight: var(--cui-font-weight-semibold);
  color: var(--cui-fg-normal);
}
