.skip-link {
  position: absolute;
  top: var(--cui-spacings-byte);
  left: var(--cui-spacings-byte);
  z-index: calc(var(--cui-z-index-navigation) + 1);
  width: 1px;
  height: 1px;
  padding: var(--cui-spacings-bit);
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  background-color: var(--cui-bg-accent);
  transition: transform var(--cui-transitions-default);
  transform: translateX(-100vw);

  &:focus,
  &:hover {
    width: auto;
    height: auto;
    transform: translateX(0);
  }
}
