.base {
  width: 100vw;
  height: 100vh;

  /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
  height: 100dvh;
}

:global(.docs-story) .base {
  width: auto;
  height: auto;
}
