.filters {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--cui-spacings-giga);
  padding-top: var(--cui-spacings-kilo);
  padding-bottom: var(--cui-spacings-kilo);
  margin-top: var(--cui-spacings-giga);
  margin-bottom: var(--cui-spacings-tera);
  background-color: var(--cui-bg-normal);
}

@media (min-width: 500px) {
  .filters {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) {
  .filters {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .filters::after {
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    height: var(--cui-spacings-kilo);
    content: "";
    background: linear-gradient(
      rgb(255 255 255 / 100%),
      rgb(255 255 255 / 66%),
      rgb(255 255 255 / 0%)
    );
  }
}

.category {
  margin-bottom: var(--cui-spacings-tera);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  position: relative;
  width: 7.5rem;
  margin-top: var(--cui-spacings-giga);
  margin-bottom: var(--cui-spacings-giga);
  text-align: center;
}

.size {
  display: block;
  font-style: italic;
  color: var(--cui-fg-subtle);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px; /* max icon height */
}

.one-x {
  height: 48px; /* 1 × 48px (max icon height) */
}

.two-x {
  height: 96px; /* 2 × 48px (max icon height) */
}

.two-x .icon {
  transform: scale(2);
}

.icon {
  max-width: 3rem;
}

.label {
  display: block;
  overflow: hidden;
  font-size: var(--cui-typography-body-two-font-size);
  line-height: var(--cui-typography-body-two-line-height);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
}
