.col {
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.col:nth-of-type(n) {
  background-color: var(--cui-bg-highlight);
}

.col:nth-of-type(2n) {
  background-color: var(--cui-bg-subtle);
}
