.base {
  --top-navigation-height: 68px;

  position: sticky;
  top: 0;
  z-index: calc(var(--cui-z-index-navigation) + 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--top-navigation-height);
  padding: var(--cui-spacings-kilo) var(--cui-spacings-mega);
  background-color: var(--cui-bg-normal);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%);
  transition: box-shadow var(--cui-transitions-default);
}

.scrolled {
  box-shadow: 0 var(--cui-border-width-kilo) 0 0 var(--cui-border-subtle);
}

.wrapper {
  display: flex;
  gap: var(--cui-spacings-kilo);
  align-items: center;
  min-width: 0;
  max-width: 100%;
}

.logo {
  height: 100%;
}

.logo a:focus,
.logo button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--cui-border-focus);
}

.logo a:focus::-moz-focus-inner,
.logo button:focus::-moz-focus-inner {
  border: 0;
}

.logo a:focus:not(:focus-visible),
.logo button:focus:not(:focus-visible) {
  box-shadow: none;
}

@media (min-width: 1024px) {
  .base {
    padding: var(--cui-spacings-mega) var(--cui-spacings-tera);
  }

  button.hamburger {
    display: none;
  }

  .logo {
    display: block;
  }
}
