.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--cui-spacings-kilo);
}

.wrapper {
  padding: 0;
  vertical-align: bottom;
}

.title {
  display: flex;
  gap: var(--cui-spacings-bit);
  align-items: center;
  justify-content: center;
  margin-bottom: var(--cui-spacings-bit);
}

.action {
  display: none;
  margin-top: var(--cui-spacings-mega);
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .base {
    min-height: 96px;
    padding: 0 var(--cui-spacings-mega);
  }

  .hide {
    display: block;
  }

  .action {
    display: block;
  }

  .description {
    font-size: var(--cui-body-m-font-size);
    line-height: var(--cui-body-m-line-height);
  }
}
