.list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.item {
  height: 100%;
}

.anchor {
  height: 100%;
  padding: 0 var(--cui-spacings-mega);
  text-decoration: none;
  border-left: var(--cui-border-width-kilo) solid var(--cui-border-divider);
}

.icon {
  flex-shrink: 0;
  width: var(--cui-icon-sizes-mega);
  height: var(--cui-icon-sizes-mega);
}

@media (min-width: 480px) {
  .icon {
    margin-right: var(--cui-spacings-byte);
  }
}

@media (max-width: 479px) {
  .label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}

[aria-current='page'] .label {
  font-weight: var(--cui-font-weight-bold);
}
