.base {
  display: flex;
  justify-content: center;
  list-style: none;
}

.base .button {
  min-width: 34px;
  padding: var(--cui-spacings-bit);
  margin-right: var(--cui-spacings-bit);
}

.base li:last-child .button {
  margin-right: 0;
}
