.base {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.base .button {
  padding: var(--cui-spacings-bit);
  margin-right: var(--cui-spacings-bit);
}

.base li:last-child .button {
  margin-right: 0;
}
