.base {
  height: 100%;
  outline: none;
  background-color: var(--cui-bg-normal);
  box-shadow: inset var(--cui-border-width-kilo) 0 0 var(--cui-border-divider);
  transform: translateX(100%);
  transition: transform var(--cui-transitions-slow);
}

.open {
  transform: translateX(0);
}

.instant {
  transition: none;
}

.closed {
  transform: translateX(100%);
  transition: transform var(--cui-transitions-slow);
}

.overlay {
  height: 100%;
}
