.base {
  overflow: hidden;
}

.base > button {
  top: var(--cui-spacings-bit);
  right: unset;
  left: var(--cui-spacings-bit);
}

.base::after {
  height: var(--cui-spacings-mega);
}

.base.backdrop {
  display: none;
}

.content,
.base {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.navigation {
  max-width: 480px;
  height: 100%;
  padding-top: 56px;
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--cui-spacings-tera));
  margin: 0 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--cui-z-index-absolute);
  width: 100%;
  padding: var(--cui-spacings-bit);
  background: linear-gradient(
    color-mix(in sRGB, var(--cui-bg-elevated) 100%, transparent),
    color-mix(in sRGB, var(--cui-bg-elevated) 100%, transparent) 66%,
    color-mix(in sRGB, var(--cui-bg-elevated) 0%, transparent)
  );
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.chevron {
  transition: transform var(--cui-transitions-default);
  transform: rotate(0deg);
}

[aria-expanded="true"] .chevron {
  color: var(--cui-fg-accent);
  transform: rotate(-180deg);
}

.group {
  margin-bottom: -1px;
  border-bottom: var(--cui-border-width-kilo) solid var(--cui-border-divider);
}

.group > *:last-child {
  padding-bottom: var(--cui-spacings-giga);
}
