.base {
  width: 80vw;
  max-width: 300px;
  height: 100vh;

  /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
  height: 100dvh;
  max-height: unset;
  margin: 0 !important;
  background-color: color-mix(
    in sRGB,
    var(--cui-bg-normal) 80%,
    transparent
  ) !important;
  backdrop-filter: blur(20px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  height: 100vh;

  /* biome-ignore lint/suspicious/noDuplicateProperties: Browser compatibility */
  height: 100dvh;
  padding: var(--cui-spacings-mega);
  padding-top: var(--cui-spacings-zetta);
  overflow-y: auto;
}

/* Close button */
.base > button {
  top: var(--cui-spacings-kilo);
  left: var(--cui-spacings-mega);
  width: 44px;
  height: 44px;
  padding: 0 var(--cui-spacings-mega);
  background-color: var(--cui-bg-subtle);
  border: none;
  border-radius: var(--cui-border-radius-circle);
}

.base > button:hover {
  background-color: var(--cui-bg-normal-hovered);
}

.base > button[aria-current="page"],
.base > button[aria-pressed="true"],
.base > button:active,
.base > button[aria-expanded="true"] {
  background-color: var(--cui-bg-highlight);
}

.base > button:focus,
.base > button:focus-visible {
  box-shadow:
    0 0 0 0 var(--cui-bg-normal),
    0 0 0 2px var(--cui-border-focus);
}

@media (min-width: 1024px) {
  .base {
    display: none;
  }
}
