.base {
  overflow: hidden;
}

.base::after {
  height: var(--cui-spacings-mega);
}

.base.backdrop {
  display: none;
}

.content,
.base {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.navigation {
  max-width: 480px;
  height: 100%;
  padding-top: 56px;
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--cui-spacings-tera));
  margin: 0 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.chevron {
  transform: rotate(0deg);
  transition: transform var(--cui-transitions-default);
}

[aria-expanded="true"] .chevron {
  color: var(--cui-fg-accent);
  transform: rotate(-180deg);
}

.group {
  margin-bottom: -1px;
  border-bottom: var(--cui-border-width-kilo) solid var(--cui-border-divider);
}

.group > *:last-child {
  padding-bottom: var(--cui-spacings-giga);
}
