name: Chromatic

on: [push]

jobs:
  chromatic:
    if: ${{ ! startsWith(github.ref, 'refs/heads/dependabot/') || github.triggering_actor != 'dependabot' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Build Storybook
        run: npm run docs:build

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: 'public'
          exitOnceUploaded: true
          onlyChanged: true
          externals: '.storybook/public/**'
