name: Chromatic

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  chromatic:
    if: ${{ !startsWith(github.ref, 'refs/heads/dependabot/') || !startsWith(github.triggering_actor, 'dependabot') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js v24
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: "npm"

      - name: Update npm
        run: npm update -g npm

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Build Storybook
        run: npm run chromatic-build

      - name: Publish to Chromatic
        uses: chromaui/action@v13
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: "public"
          exitOnceUploaded: true
          onlyChanged: true
          externals: |
            '.storybook/public/**'
            'packages/design-tokens/**'
            'packages/icons/**'
