name: Continuous Integration

on: [push]

permissions:
  id-token: write
  contents: write

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, 24]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Check for unused code
        run: npm run knip

      - name: Lint code
        run: npm run lint:ci

      - name: Lint styles
        run: npm run lint:css

      - name: Run unit tests
        # For some reason, the global script doesn't run tests in packages/eslint-plugin-circuit-ui
        # I suspect it's because it's not an ES module.
        run: npm run test:ci && cd packages/eslint-plugin-circuit-ui && npm run test:ci

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Create release PR or publish to npm
        if: (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next' || github.ref == 'refs/heads/canary') && matrix.node == 20
        uses: changesets/action@v1
        with:
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_PAT }}
          NPM_TOKEN: ""
