name: Continuous Integration

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20.5]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Install template dependencies
        run: cd packages/cna-template/template && npm ci

      - name: Check dependency licenses
        run: npm run check:licenses

      - name: Check SVG sizes
        run: npm run check:svg-sizes

      - name: Build packages
        run: npm run build

      - name: Lint code
        run: npm run lint

      - name: Lint styles
        run: npm run lint:css

      - name: Run unit tests
        run: npm run test:ci

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Create release PR or publish to npm
        if: (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next' || github.ref == 'refs/heads/canary') && matrix.node == 20.5
        uses: changesets/action@v1
        with:
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
