name: Create SumUp Next App

on:
  schedule:
    - cron: '0 3 * * 1'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Bootstrap app
        run: npm run create next-app --example "https://github.com/sumup-oss/circuit-ui/tree/main/packages/cna-template/template" test-app

      - name: Build app
        working-directory: ./test-app
        run: npm run build

      - name: Install test dependencies
        run: npm install puppeteer

      - name: Test app
        working-directory: ./test-app
        run: npx start-server-and-test start http://localhost:3000 "node ../scripts/verify-template.js"
