name: Continuous Releases
on:
  issue_comment:
    types: [created]

jobs:
  build:
    if: ${{ github.event.comment.body == '/preview' && github.event.issue.pull_request }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ github.event.issue.number }}/head #based on https://github.com/stackblitz-labs/pkg.pr.new/issues/187

      - name: Setup Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Publish packages
        run: npx pkg-pr-new publish './packages/circuit-ui'  './packages/design-tokens'  './packages/icons'
