name: Bundle Size

on: [pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  size:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Update npm
        run: npm install -g npm@11.7.0

      - name: Check compressed bundle sizes
        uses: preactjs/compressed-size-action@v3
        with:
          pattern: "packages/**/dist/**/*.{js,css,json}"
          exclude: "{**/*.map,**/node_modules/**,**/eslint-plugin-circuit-ui/**,**/stylelint-plugin-circuit-ui/**,**/*.index.*,**/*.module.css.js}"
